Repository ohmyzsh/ohmyzsh, pull requests merged in 2018-08, with the labels that each got.

#2557 Add function to search Dash.app
  plugins/dash/dash.plugin.zsh
Labels: plugin

#3167 Add alias for git add --verbose
  plugins/git/git.plugin.zsh
Labels: alias

#4680 Agnoster: solarized light variant
  themes/agnoster.zsh-theme
Labels: theme
