Repository ohmyzsh/ohmyzsh, pull requests merged in 2019-05, with the labels that each got.

#7830 frontend-search: add Angular 2 context
  plugins/frontend-search/README.md
  plugins/frontend-search/_frontend-search.sh
  plugins/frontend-search/frontend-search.plugin.zsh
Labels: Area: plugin, Topic: alias, Topic: completion

#7731 jira: fix error when assigned or reported are default
  plugins/jira/jira.plugin.zsh
Labels: Area: plugin, Status: testers needed

#6233 Fixed typo
  plugins/django/django.plugin.zsh
Labels: Area: plugin

#5932 Capitalizate github to GitHub
  plugins/catimg/catimg.plugin.zsh
  plugins/catimg/catimg.sh
  plugins/git-extras/git-extras.plugin.zsh
  plugins/git-hubflow/git-hubflow.plugin.zsh
  plugins/gulp/gulp.plugin.zsh
Labels: Area: plugin

#6924 Allow arguments to `d` to be passed to dirs
  lib/directories.zsh
Labels: Area: core, Topic: alias

#7834 Consolidate uppercase echo in ssh-agent plugin
  plugins/ssh-agent/ssh-agent.plugin.zsh
Labels: Area: plugin

#6698 Plugin for pipenv
  plugins/pipenv/README.md
  plugins/pipenv/pipenv.plugin.zsh
Labels: Area: plugin, New: plugin, Status: testers needed, Topic: alias

#7626 rbenv: improve rbenv loading based on pyenv
  plugins/pyenv/pyenv.plugin.zsh
  plugins/rbenv/rbenv.plugin.zsh
Labels: Area: plugin, Status: testers needed, Topic: alias

#6483 Add Plugin for SDKMAN
  plugins/sdk/README.md
  plugins/sdk/sdk.plugin.zsh
Labels: Area: plugin, New: plugin

#7836 vscode: add code-insiders support
  plugins/vscode/README.md
  plugins/vscode/vscode.plugin.zsh
Labels: Area: plugin, Topic: alias

#6696 Added a myissues option
  plugins/jira/README.md
  plugins/jira/jira.plugin.zsh
Labels: Area: plugin

#7820 Update spotify v2.1
  plugins/osx/README.md
  plugins/osx/spotify
Labels: Area: plugin

#7838 aws: really unset AWS*PROFILE variables in asp function
  plugins/aws/aws.plugin.zsh
Labels: Area: plugin, Plugin: aws

#7858 Most of community demand this changing.
  plugins/rails/README.md
  plugins/rails/rails.plugin.zsh
Labels: Area: plugin, Topic: alias

#7818 vi-mode: reset KEYMAP on accept-line
  plugins/vi-mode/vi-mode.plugin.zsh
Labels: Area: plugin, Topic: bindkey

#7861 dotenv: add support for custom env file names
  plugins/dotenv/README.md
  plugins/dotenv/dotenv.plugin.zsh
Labels: Area: plugin

#7140 svn-fast-info: fix svn-fast-info printfs
  plugins/svn-fast-info/svn-fast-info.plugin.zsh
Labels: Area: plugin

#7823 Add new kubectl alias to list all contexts
  plugins/kubectl/README.md
  plugins/kubectl/kubectl.plugin.zsh
Labels: Area: plugin, Topic: alias

#7873 torrent: add README
  plugins/torrent/README.md
Labels: Area: plugin

#7863 frontend: add frontend search commands
  plugins/frontend-search/README.md
  plugins/frontend-search/_frontend-search.sh
  plugins/frontend-search/frontend-search.plugin.zsh
Labels: Area: plugin, Topic: alias, Topic: completion

#7844 emotty: fix for undefined $TTY (FreeBSD)
  plugins/emotty/emotty.plugin.zsh
Labels: Area: plugin

#7880 ng: fix shwordsplit option use
  plugins/ng/ng.plugin.zsh
Labels: Area: plugin

#7839 Add checking availability of profile by aws plugin
  plugins/aws/aws.plugin.zsh
Labels: Area: plugin, Plugin: aws, Status: testers needed

#7845 [OSX] Get the iTunes volume without an argument or shift up / down
  plugins/osx/osx.plugin.zsh
Labels: Area: plugin
