Repository ohmyzsh/ohmyzsh, pull requests merged in 2019-03, with the labels that each got.

#7679 Notify user if plugin isn't found
  oh-my-zsh.sh
Labels: Component: core

#7622 Enable tmux window title updates when using proper tmux* $TERM values.
  lib/termsupport.zsh
Labels: Component: core

#6621 Add AWS_PROFILE env var to prompt for agnoster theme
  themes/agnoster.zsh-theme
Labels: Component: theme

#7364 aws: refactor completion sourcing logic
  plugins/aws/aws.plugin.zsh
Labels: Component: plugin, Plugin: aws, testers needed

#3862 otp: new plugin for MFA one-time passwords using oathtool, integrated with the clipboard
  plugins/otp/otp.plugin.zsh
Labels: Component: plugin, New: plugin

#5139 add virualenv prompt info into pygmalion
  themes/pygmalion-virtualenv.zsh-theme
Labels: Component: theme, New: theme

#7388 Update to AWS Plugin - AWS_EB_PROFILE
  plugins/aws/README.md
  plugins/aws/aws.plugin.zsh
Labels: Component: plugin, Plugin: aws

#7665 Golang: mod and list commands completions
  plugins/golang/golang.plugin.zsh
Labels: Area: plugin, Topic: alias

#5757 Improve cargo completion
  plugins/cargo/_cargo
Labels: Area: plugin, Topic: completion

#7014 Gradle Plugin: Also support settings files
  plugins/gradle/gradle.plugin.zsh
Labels: Area: plugin, Topic: completion

#7670 Detect pyenv from Homebrew faster
  plugins/pyenv/pyenv.plugin.zsh
Labels: Area: plugin

#4490 Added drush compatibility
  plugins/drush/README.md
  plugins/drush/drush.complete.sh
  plugins/drush/drush.plugin.zsh
Labels: Area: plugin, New: plugin, Topic: alias

#6079 [git plugin] Run command only if there is any input
  plugins/git/git.plugin.zsh
Labels: Area: plugin, Plugin: git, Status: conflicts, Topic: alias

#6031 Add no-gpg-sign to gwip
  plugins/git/git.plugin.zsh
Labels: Area: plugin, Plugin: git, Topic: alias
