Repository ohmyzsh/ohmyzsh, pull requests merged in 2019-08, with the labels that each got.

#7173 Add option to color any help command
  plugins/colored-man-pages/README.md
  plugins/colored-man-pages/colored-man-pages.plugin.zsh
Labels: Area: plugin

#7950 Add new n98-magerun2 command
  plugins/n98-magerun/n98-magerun.plugin.zsh
Labels: Area: plugin, New: plugin, Topic: alias

#8087 Allow sudo and thefuck plugins to be loaded before vi-mode
  plugins/sudo/sudo.plugin.zsh
  plugins/thefuck/thefuck.plugin.zsh
Labels: Area: plugin, Topic: bindkey

#7768 New plugin: alias finder
  plugins/alias-finder/README.md
  plugins/alias-finder/alias-finder.plugin.zsh
Labels: Area: plugin, New: plugin, Topic: alias

#2847 Plugin to magically escape zsh meta-characters in git commands
  plugins/git-escape-magic/README.md
  plugins/git-escape-magic/git-escape-magic
  plugins/git-escape-magic/git-escape-magic.plugin.zsh
Labels: Area: plugin, New: plugin

#8010 fabric: support fabric 2+ completion targets
  plugins/fabric/_fab
Labels: Area: plugin, Topic: completion

#8056 Add hg to af-magic, and tweak the virtualenv support a bit
  themes/af-magic.zsh-theme
Labels: Area: theme

#8008 homestead: change key string for getting command list
  plugins/homestead/homestead.plugin.zsh
Labels: Area: plugin

#8082 Edit ubuntu aglu command
  plugins/ubuntu/ubuntu.plugin.zsh
Labels: Area: plugin, Topic: alias

#8083 Updated ripgrep completion to latest version
  plugins/ripgrep/README.md
  plugins/ripgrep/_ripgrep
Labels: Area: plugin, Topic: completion

#8074 autojump: fix autojump loading
  plugins/autojump/autojump.plugin.zsh
Labels: Area: plugin
