Repository ohmyzsh/ohmyzsh, pull requests merged in 2019-06, with the labels that each got.

#7900 Update fasd `v` alias to evaluate $EDITOR lazily.
  plugins/fasd/fasd.plugin.zsh
Labels: Area: plugin, Topic: alias

#7914 gitfast: update to upstream v2.21
  plugins/gitfast/_git
  plugins/gitfast/git-completion.bash
  plugins/gitfast/git-prompt.sh
  plugins/gitfast/gitfast.plugin.zsh
  plugins/gitfast/update
  plugins/gitfast/updates.patch
Labels: Area: plugin, Topic: completion

#7915 kube-ps1: fix color bleeding in prompt
  plugins/kube-ps1/kube-ps1.plugin.zsh
Labels: Area: plugin

#7918 gitfast: downgrade to upstream v2.16
  plugins/gitfast/_git
  plugins/gitfast/git-completion.bash
  plugins/gitfast/update
Labels: Area: plugin, Topic: completion

#7916 pip: Fixes no such file or directory: /tmp/zsh_tmp_cache
  plugins/pip/pip.plugin.zsh
Labels: Area: plugin

#7698 debian: fix alias completion, rename ag and clean up README
  plugins/debian/README.md
  plugins/debian/debian.plugin.zsh
Labels: Area: plugin, Status: testers needed, Topic: alias, Topic: completion

#7700 ubuntu: plugin cleanup and rename of ag alias to age
  plugins/ubuntu/README.md
  plugins/ubuntu/ubuntu.plugin.zsh
Labels: Area: plugin, Status: testers needed, Topic: alias, Topic: completion

#7923 Fix typo
  plugins/rails/README.md
Labels: Area: plugin

#7926 Update crcandy.zsh-theme for 24h
  themes/crcandy.zsh-theme
Labels: Area: theme

#7841 git: add git revert alias
  plugins/git/git.plugin.zsh
Labels: Area: plugin, Plugin: git, Topic: alias

#7827 Add PersistentVolumeClaim support to kubectl plugin
  plugins/kubectl/README.md
  plugins/kubectl/kubectl.plugin.zsh
Labels: Area: plugin, Topic: alias

#7885 Add a completion plugin for dnote
  plugins/dnote/README.md
  plugins/dnote/_dnote
Labels: Area: plugin, New: plugin, Topic: completion

#7831 adding gatsby command autocomplete set
  plugins/gatsby/README.md
  plugins/gatsby/_gatsby
Labels: Area: plugin, New: plugin, Topic: completion

#7635 Add style environment variable to colorize plugin
  plugins/colorize/README.md
  plugins/colorize/colorize.plugin.zsh
Labels: Area: plugin, Topic: alias

#7826 Add statefulset aliases to kubectl
  plugins/kubectl/README.md
  plugins/kubectl/kubectl.plugin.zsh
Labels: Area: plugin, Topic: alias

#7934 Update README.md
  plugins/terraform/README.md
Labels: Area: plugin

#7961 Add missing `gom`.
  plugins/golang/README.md
Labels: Area: plugin
