Repository ohmyzsh/ohmyzsh, pull requests merged in 2019-11, with the labels that each got.

#8334 Add fasd documentation
  plugins/fasd/README.md
Labels: Area: plugin, Type: documentation

#8351 Support BSD mktemp in emacsclient.sh
  plugins/emacs/emacsclient.sh
Labels: Area: plugin

#8202 A Few Minor http to https Upgrades
  plugins/emoji-clock/emoji-clock.plugin.zsh
  plugins/tmux/README.md
  themes/sunrise.zsh-theme
Labels: Area: plugin, Area: theme, Plugin: tmux

#7606 [plugins/tmux] Allow to define a custom configuration path
  plugins/tmux/README.md
  plugins/tmux/tmux.extra.conf
  plugins/tmux/tmux.plugin.zsh
Labels: Area: plugin, Plugin: tmux, Status: testers needed

#7517 style: remove double whitespace
  tools/upgrade.sh
Labels: Area: core, Area: updater

#8374 Fix bad tmux config syntax and logical expression error in 86b39cf
  plugins/tmux/tmux.extra.conf
  plugins/tmux/tmux.plugin.zsh
Labels: Area: plugin, Plugin: tmux

#8375 fix(spotify): fix exit on unknown command
  plugins/osx/spotify
Labels: Area: plugin

#8390 Fix / Export ZSH_TMUX_CONFIG again to provide to tmux
  plugins/tmux/tmux.plugin.zsh
Labels: Area: plugin, Plugin: tmux

#8372 osx: modify itunes function to support Apple Music
  plugins/osx/README.md
  plugins/osx/osx.plugin.zsh
Labels: Area: plugin, Type: documentation

#8399 Stops git-auto-fetch plugin from asking for ssh-key passphrase
  plugins/git-auto-fetch/git-auto-fetch.plugin.zsh
Labels: Area: plugin

#8410 Fix rendering issue in README of the rails plugin
  plugins/rails/README.md
Labels: Area: plugin, Type: documentation

#8406 Use safer append to hook function arrays
  .gitignore
  lib/termsupport.zsh
  plugins/alias-finder/alias-finder.plugin.zsh
  plugins/dirhistory/dirhistory.plugin.zsh
  plugins/dirpersist/dirpersist.plugin.zsh
  plugins/git-prompt/git-prompt.plugin.zsh
  plugins/last-working-dir/last-working-dir.plugin.zsh
  plugins/pipenv/pipenv.plugin.zsh
  plugins/timer/timer.plugin.zsh
  plugins/virtualenvwrapper/virtualenvwrapper.plugin.zsh
  themes/pygmalion-virtualenv.zsh-theme
  themes/pygmalion.zsh-theme
Labels: Area: plugin

#8411 Replace sources with execs
  plugins/catimg/README.md
  plugins/dircycle/README.md
  plugins/encode64/README.md
  plugins/lol/README.md
  plugins/sudo/README.md
Labels: Area: plugin, Type: documentation

#8396 Update terraform completion
  plugins/terraform/_terraform
Labels: Area: plugin, Topic: completion

#8407 Update Pygments download link
  plugins/colorize/README.md
Labels: Area: plugin, Type: documentation

#8394 Actions to take after repository migration is complete
  CONTRIBUTING.md
  LICENSE.txt
  README.md
  plugins/bundler/README.md
  plugins/emotty/README.md
  plugins/fedora/README.md
  plugins/gitfast/README.md
  plugins/go/README.md
  plugins/history-substring-search/README.md
  plugins/meteor/README.md
  plugins/mvn/README.md
  plugins/ng/README.md
  plugins/percol/README.md
  plugins/rake/README.md
  plugins/thefuck/README.md
  plugins/urltools/README.md
  plugins/wd/README.md
  templates/zshrc.zsh-template
  themes/gallifrey.zsh-theme
  tools/install.sh
  tools/upgrade.sh
Labels: Area: core, Area: installer, Area: plugin, Area: theme, Area: updater, Type: documentation

#8408 Remove current directory from sys.path in python invocations
  plugins/django/django.plugin.zsh
  plugins/jsontools/jsontools.plugin.zsh
  plugins/salt/_salt
  plugins/urltools/urltools.plugin.zsh
Labels: Area: plugin, Topic: alias, Topic: completion

#8402 fzf: change debian completion file path
  plugins/fzf/fzf.plugin.zsh
Labels: Area: plugin
