Repository ohmyzsh/ohmyzsh, pull requests merged in 2019-12, with the labels that each got.

#8469 add zstd support for the extract plugin
  plugins/extract/README.md
  plugins/extract/_extract
  plugins/extract/extract.plugin.zsh
Labels: Area: plugin, Topic: completion, Type: documentation

#8479 extract: Add tar.lz support
  plugins/extract/README.md
  plugins/extract/_extract
  plugins/extract/extract.plugin.zsh
Labels: Area: plugin, Topic: completion, Type: documentation

#8483 fasd: fix plugins= name
  plugins/fasd/README.md
Labels: Area: plugin, Type: documentation

#8474 Added FZF base path for freebsd
  plugins/fzf/fzf.plugin.zsh
Labels: Area: plugin, Platform: BSD

#8481 add alias for yarn lint
  plugins/yarn/README.md
  plugins/yarn/yarn.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#6687 Change order of automatic virtualenv activation/deactivation
  plugins/virtualenvwrapper/virtualenvwrapper.plugin.zsh
Labels: Area: plugin, Status: testers needed

#7742 edit colorize plugin: add `-f terminal` option
  plugins/colorize/colorize.plugin.zsh
Labels: Area: plugin, Status: conflicts

#7322 Rewrite gitstatus tag and hash collection to be more robust
  plugins/git-prompt/gitstatus.py
Labels: Area: plugin

#8392 Update colorize to support less options
  plugins/colorize/README.md
  plugins/colorize/colorize.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#8504 osx: fix exit on quit command in spotify function
  plugins/osx/spotify
Labels: Area: plugin

#3917 Plugins: repo - add more aliases.
  plugins/repo/repo.plugin.zsh
Labels: Area: plugin, Topic: alias

#4111 New alias zwip that launch cucumber with the :wip profile
  plugins/zeus/README.md
  plugins/zeus/zeus.plugin.zsh
Labels: Area: plugin, Topic: alias

#8494 Feature/ionic plugin aliases
  .gitignore
  plugins/ionic/README.md
  plugins/ionic/ionic.plugin.zsh
Labels: Area: plugin, New: plugin, Topic: alias, Type: documentation

#8500 extract: add lrz support
  plugins/extract/README.md
  plugins/extract/_extract
  plugins/extract/extract.plugin.zsh
Labels: Area: plugin, Topic: completion, Type: documentation

#8499 Added MicroK8s plugin for ZSH
  plugins/microk8s/README.md
  plugins/microk8s/microk8s.plugin.zsh
Labels: Area: plugin, New: plugin, Topic: alias, Type: documentation

#8503 Feature/add dotnet plugin
  plugins/dotnet/README.md
  plugins/dotnet/dotnet.plugin.zsh
Labels: Area: plugin, New: plugin, Topic: alias, Type: documentation
