Repository ohmyzsh/ohmyzsh, pull requests merged in 2019-07, with the labels that each got.

#7970 Silence Errors
  plugins/git-auto-fetch/git-auto-fetch.plugin.zsh
Labels: Area: plugin

#7984 git: Add missing `grev` alias to docs
  plugins/git/README.md
Labels: Area: plugin, Plugin: git

#7739 af-magic: make separator window-size-aware
  themes/af-magic.zsh-theme
Labels: Area: theme, Type: enhancement

#8027 Removing plugin that was named after an external tool
  plugins/bwana/README.md
  plugins/bwana/bwana.plugin.zsh
Labels: Area: plugin

#8039 Added README for common-aliases plugin
  plugins/common-aliases/README.md
Labels: Area: plugin

#8050 Bug fix for schrodingers VIRTUAL_ENV_DISABLE_PROMPT (7985)
  themes/agnoster.zsh-theme
Labels: Area: theme

#7973 add duckduckgo as an option to frontend-search
  plugins/frontend-search/README.md
  plugins/frontend-search/frontend-search.plugin.zsh
Labels: Area: plugin
