Repository ohmyzsh/ohmyzsh, pull requests merged in 2019-09, with the labels that each got.

#6304 Change description for Evan's prompt to something neutral
  themes/evan.zsh-theme
Labels: Area: theme

#8144 Add gcloud plugin
  plugins/gcloud/README.md
  plugins/gcloud/gcloud.plugin.zsh
Labels: Area: plugin, New: plugin

#8164 New Gcloud plugin search path for ArchLinux
  plugins/gcloud/gcloud.plugin.zsh
Labels: Area: plugin

#8150 add flutter plugin
  plugins/flutter/README.md
  plugins/flutter/_flutter
  plugins/flutter/flutter.plugin.zsh
Labels: Area: plugin, New: plugin, Topic: alias, Topic: completion

#8170 react-native: add aliases for newer iPhones
  plugins/react-native/README.md
  plugins/react-native/react-native.plugin.zsh
Labels: Area: plugin, Topic: alias
