Repository ohmyzsh/ohmyzsh, pull requests merged in 2019-10, with the labels that each got.

#8184 Add README for the autoenv plugin
  plugins/autoenv/README.md
Labels: Area: plugin

#8188 Add README.md for oc plugin.
  plugins/oc/README.md
Labels: Area: plugin

#8185 added readme for thor and pip plugins
  plugins/pip/README.md
  plugins/thor/README.md
Labels: Area: plugin

#8001 fzf: Adding support for debian packages
  plugins/fzf/fzf.plugin.zsh
Labels: Area: plugin

#8189 Adding Leiningen Plugin README
  plugins/lein/README.md
Labels: Area: plugin

#8190 Add jruby readme
  plugins/jruby/README.md
Labels: Area: plugin

#7663 feat(yarn-alias): add yd as yarn dev alias
  plugins/yarn/README.md
  plugins/yarn/yarn.plugin.zsh
Labels: Area: plugin, Topic: alias

#7491 Add Yarn Workspace command aliases
  plugins/yarn/README.md
  plugins/yarn/yarn.plugin.zsh
Labels: Area: plugin, Topic: alias

#8169 Add rubocop to bundled_commands
  plugins/bundler/README.md
  plugins/bundler/bundler.plugin.zsh
Labels: Area: plugin

#8194 Add README to yii plugin
  plugins/yii/README.md
Labels: Area: plugin

#8196 Add Readme to cakephp3 plugin
  plugins/cakephp3/README.md
Labels: Area: plugin

#8200 add README for n98-magerun
  plugins/n98-magerun/README.md
Labels: Area: plugin

#8199 Adding README for rvm
  plugins/rvm/README.md
Labels: Area: plugin

#8198 Adding README for rebar plugin
  plugins/rebar/README.md
Labels: Area: plugin

#8197 terminitor: add README
  plugins/terminitor/README.md
Labels: Area: plugin

#8221 docs: add README.md for Dash plugin
  plugins/dash/README.md
Labels: Area: plugin

#8210 Added README describing mysql-macports plugin in oh-my-zsh
  plugins/mysql-macports/README.md
Labels: Area: plugin

#8214 Adding Redis-CLI plugin README.md
  plugins/redis-cli/README.md
Labels: Area: plugin

#8215 Adding Perl plugin README.md
  plugins/perl/README.md
Labels: Area: plugin

#8224 Add documentation for pyenv plugin
  plugins/pyenv/README.md
Labels: Area: plugin

#8225 Add README for pow and powify plugins
  plugins/pow/README.md
  plugins/powify/README.md
Labels: Area: plugin

#8226 docs: add README.md for virtualenvwrapper
  plugins/virtualenvwrapper/README.md
Labels: Area: plugin

#8227 Create README.md
  plugins/ufw/README.md
Labels: Area: plugin

#8207 Adds READMEs for Tugboat and Colemak plugins
  plugins/colemak/README.md
  plugins/tugboat/README.md
Labels: Area: plugin

#8229 Add README.md for CloudApp plugin
  plugins/cloudapp/README.md
Labels: Area: plugin

#6135 support gdub?
  plugins/gradle/gradle.plugin.zsh
Labels: Area: plugin

#7664 feat(yarn-alias): add ytc alias for yarn test with coverage
  plugins/yarn/README.md
  plugins/yarn/yarn.plugin.zsh
Labels: Area: plugin, Topic: alias

#8138 Yarn Plugin - add yarn version alias
  plugins/yarn/README.md
  plugins/yarn/yarn.plugin.zsh
Labels: Area: plugin, Topic: alias

#8230 #7175 add README.md for Terminalapp plugin
  plugins/terminalapp/terminalapp.plugin.zsh
Labels: Area: plugin

#8232 #7175 Create README.md for Singlechar plugin
  plugins/singlechar/README.md
  plugins/singlechar/singlechar.plugin.zsh
Labels: Area: plugin

#8239 Added the Sprunge README.md file
  plugins/sprunge/README.md
  plugins/sprunge/sprunge.plugin.zsh
Labels: Area: plugin

#8236 Create README.md for compleat plugin
  plugins/compleat/README.md
Labels: Area: plugin

#8234 docs: Fix a few minor typos in plugins/git-escape-magic/README.md
  plugins/git-escape-magic/README.md
Labels: Area: plugin

#8238 Adds chruby plugin README.md
  plugins/chruby/README.md
Labels: Area: plugin

#8217 Add -r flag to pygrep
  plugins/python/python.plugin.zsh
Labels: Area: plugin, Topic: alias

#8155 added support for sysctl
  plugins/battery/battery.plugin.zsh
Labels: Area: plugin

#8241 Create README.md
  plugins/fbterm/README.md
Labels: Area: plugin

#8240 Create README.md
  plugins/emotty/README.md
Labels: Area: plugin

#8242 add readme for the rust plugin
  plugins/rust/README.md
Labels: Area: plugin

#8254 #7175 add README.md for rake plugin
  plugins/rake/README.md
Labels: Area: plugin

#8256 Create README.md
  plugins/screen/README.md
Labels: Area: plugin

#8257 Add README for pod
  plugins/pod/README.md
Labels: Area: plugin

#8259 Add README file for git-remote-branch plugin
  plugins/git-remote-branch/README.md
Labels: Area: plugin

#8266 Changes to 'bira' theme for consistency with virtualenv
  themes/bira.zsh-theme
Labels: Area: theme

#8268 Fix 'sudo: [cmd]: command not found' when using `_` alias
  lib/misc.zsh
Labels: Area: core, Topic: alias

#8271 Make bundler plugin play nice with functions that call wrapped commands
  plugins/bundler/bundler.plugin.zsh
Labels: Area: plugin

#8277 added eecms plugin readme
  plugins/eecms/README.md
Labels: Area: plugin

#8278 Simple phing auto complete plugin
  plugins/phing/README.md
Labels: Area: plugin

#8282 added README.md
  plugins/pass/README.md
Labels: Area: plugin

#6594 Support new naming convention in Bundler
  plugins/bundler/bundler.plugin.zsh
Labels: Area: plugin

#8223 Detect gems.rb in _rake_command
  plugins/rails/rails.plugin.zsh
Labels: Area: plugin

#8286 Format docker Readme like the other plugins.
  plugins/docker/README.md
Labels: Area: plugin

#8285 Add Readme.md for supervisor.
  plugins/supervisor/README.md
  plugins/supervisor/_supervisorctl
Labels: Area: plugin, Topic: completion

#8284 Update Readme for Magic Enter plugin
  plugins/magic-enter/Readme.md
Labels: Area: plugin

#8292 add readme for safe paste plugin
  plugins/safe-paste/README.md
Labels: Area: plugin

#8293 #7175 add README.md for rbenv plugin
  plugins/rbenv/README.md
Labels: Area: plugin

#8248 Update swiftpm plugin for Swift 5.1
  plugins/swiftpm/README.md
  plugins/swiftpm/_swift
Labels: Area: plugin, Topic: completion

#5439 add task description to fabric completion
  plugins/fabric/_fab
Labels: Area: plugin, Topic: completion

#8244 Add autocompletion for openliberty
  plugins/mvn/mvn.plugin.zsh
Labels: Area: plugin, Topic: completion

#8310 Add powder documentation
  plugins/powder/README.md
Labels: Area: plugin

#8311 Add profiles documentation
  plugins/profiles/README.md
Labels: Area: plugin

#7762 python: Fix and extend pyclean
  plugins/python/python.plugin.zsh
Labels: Area: plugin

#8251 Update alias-finder.plugin.zsh
  plugins/alias-finder/alias-finder.plugin.zsh
Labels: Area: plugin
