Repository ohmyzsh/ohmyzsh, pull requests merged in 2020-06, with the labels that each got.

#8991 fino-time: fix virtualenv prompt by escaping dollar sign
  themes/fino-time.zsh-theme
Labels: Area: theme

#8784 web-search: add Wayback Archive
  plugins/web-search/README.md
  plugins/web-search/web-search.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#8993 lib: don't override bigger HISTSIZE and SAVEHIST values
  lib/history.zsh
Labels: Area: core

#9012 chucknorris: fix typos
  plugins/chucknorris/fortunes/chucknorris
Labels: Area: plugin

#9013 chucknorris: normalize apostrophes
  plugins/chucknorris/fortunes/chucknorris
Labels: Area: plugin

#8939 update: refactor and fix logic in check_for_upgrade.sh
  oh-my-zsh.sh
  tools/check_for_upgrade.sh
Labels: Area: core, Area: init, Area: updater

#9014 web-search: add Google Scholar
  plugins/web-search/README.md
  plugins/web-search/web-search.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#9019 init: run update check in the same zsh process
  oh-my-zsh.sh
Labels: Area: init

#9026 osx: refactor plugin and add a few features
  plugins/osx/README.md
  plugins/osx/_security
  plugins/osx/music
  plugins/osx/osx.plugin.zsh
Labels: Area: plugin, Topic: alias, Topic: completion, Type: documentation

#9040 init: don't run update check if DISABLE_AUTO_UPDATE
  oh-my-zsh.sh
Labels: Area: init

#8303 core: add title support for mlterm
  lib/termsupport.zsh
Labels: Area: core

#9059 archlinux: fix pacweb breaking when multiple packages found
  plugins/archlinux/archlinux.plugin.zsh
Labels: Area: plugin

#9053 Add new mvn alias for `mvn fmt:format`
  plugins/mvn/README.md
  plugins/mvn/mvn.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#9062 update: only update on a valid affirmative input
  tools/check_for_upgrade.sh
Labels: Area: core, Area: updater

#9045 Modernize install and update banners
  tools/install.sh
  tools/upgrade.sh
Labels: Area: core, Area: installer, Area: updater

#9052 encode64: fix typo in README
  plugins/encode64/README.md
Labels: Area: plugin, Type: documentation

#8944 Handle unset variables in various parts of the codebase
  lib/git.zsh
  lib/termsupport.zsh
Labels: Area: core, Status: testers needed
