Repository ohmyzsh/ohmyzsh, pull requests merged in 2020-01, with the labels that each got.

#8510 extract: add lz4 support
  plugins/extract/README.md
  plugins/extract/_extract
  plugins/extract/extract.plugin.zsh
Labels: Area: plugin, Topic: completion, Type: documentation

#8462 Run pyenv plugin only when necessary
  plugins/pyenv/pyenv.plugin.zsh
Labels: Area: plugin, Status: testers needed

#8542 Add MSYS2 support to system clipboard integration
  lib/clipboard.zsh
Labels: Area: core

#8551 fix(colored-man-pages): Suppress `env` shell lookup
  plugins/colored-man-pages/colored-man-pages.plugin.zsh
Labels: Area: plugin

#8569 Create Github Action to run tests
  .github/workflows/check-suite.yml
  README.md
Labels: Area: core, Type: documentation, Type: enhancement, Type: feature

#8568 Add calling VS Code Insiders
  plugins/vscode/README.md
  plugins/vscode/vscode.plugin.zsh
Labels: Area: plugin

#8576 lol: fix docs for yolo alias
  plugins/lol/README.md
Labels: Area: plugin, Type: documentation

#8582 fix: Update tmux plugin to use modern terminfo.
  plugins/tmux/README.md
  plugins/tmux/tmux.plugin.zsh
Labels: Area: plugin, Plugin: tmux
