Repository ohmyzsh/ohmyzsh, pull requests merged in 2020-02, with the labels that each got.

#8243 Fix showing aws prompt out of the box in af-magic
  themes/af-magic.zsh-theme
Labels: Area: theme

#8597 Revert "fix: Update tmux plugin to use modern terminfo."
  plugins/tmux/README.md
  plugins/tmux/tmux.plugin.zsh
Labels: Area: plugin, Plugin: tmux

#8521 virtualenvwrapper: rewrite init script location code
  plugins/virtualenvwrapper/virtualenvwrapper.plugin.zsh
Labels: Area: plugin

#6250 systemd: refactor and add latest commands
  plugins/systemd/systemd.plugin.zsh
Labels: Area: plugin

#8318 kube-ps1: Add example for common pitfall
  plugins/kube-ps1/README.md
Labels: Area: plugin, Type: documentation

#6167 systemadmin plugin: Fix head line sorting
  plugins/systemadmin/systemadmin.plugin.zsh
Labels: Area: plugin, Topic: alias

#6215 Fix loading of is-at-least in common-aliases plugin
  plugins/common-aliases/common-aliases.plugin.zsh
Labels: Area: plugin

#8612 [dotnet] Add dotnet watch and dotnet watch run aliases
  plugins/dotnet/README.md
  plugins/dotnet/dotnet.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#7219 vagrant: obey VAGRANT_CWD when completing vagrant commands
  plugins/vagrant/_vagrant
Labels: Area: plugin, Status: testers needed, Topic: completion

#8606 [Security] Update dotenv plugin to prompt before executing env
  plugins/dotenv/dotenv.plugin.zsh
Labels: Area: plugin, Type: security

#8620 Executing gradle literally, even if an alias exists (gradle plugin)
  plugins/gradle/gradle.plugin.zsh
Labels: Area: plugin

#8624 dotenv: add ZSH_DOTENV_PROMPT config
  plugins/dotenv/README.md
  plugins/dotenv/dotenv.plugin.zsh
Labels: Area: plugin, Type: documentation

#8625 [kubectl] Avoid conflicts with existing `f` aliases
  plugins/kubectl/kubectl.plugin.zsh
Labels: Area: plugin, Topic: alias

#8618 Support getting fzf for NixOS and Void Linux
  plugins/fzf/fzf.plugin.zsh
Labels: Area: plugin

#8629 Fixes typo on plugin's name from dash to cloudapp
  plugins/cloudapp/README.md
Labels: Area: plugin, Type: documentation

#8617 Add alias for git stash --include-untracked
  plugins/git/README.md
  plugins/git/git.plugin.zsh
Labels: Area: plugin, Plugin: git, Topic: alias

#8518 Use official dotnet zsh plugin
  plugins/dotnet/README.md
  plugins/dotnet/dotnet.plugin.zsh
Labels: Area: plugin, Type: documentation

#8610 arcanist: add `arc diff --create` alias
  plugins/arcanist/arcanist.plugin.zsh
Labels: Area: plugin, Topic: alias

#8638 Adding wolframalpha search engine
  plugins/web-search/README.md
  plugins/web-search/web-search.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#8622 added way to rename branch
  plugins/git/README.md
  plugins/git/git.plugin.zsh
Labels: Area: plugin, Plugin: git

#7657 Extended the systemd plugin to add a gitfast style prompt
  plugins/systemd/README.md
  plugins/systemd/systemd.plugin.zsh
Labels: Area: plugin, Type: documentation

#8646 agnoster: fix bzr prompt with breezy installed
  themes/agnoster.zsh-theme
Labels: Area: theme

#8651 Add random theme and consolidate logic from init and themes plugin
  oh-my-zsh.sh
  plugins/themes/_theme
  plugins/themes/themes.plugin.zsh
  themes/random.zsh-theme
Labels: Area: init, Area: plugin, Area: theme, New: theme, Topic: completion

#8674 Adding #debugging section to the documentation for those who might get an error.
  plugins/vscode/README.md
Labels: Area: plugin, Type: documentation

#8668 Simplify installer by removing a `cp` command
  tools/install.sh
Labels: Area: core, Area: installer

#8250 Add JFrog CLI plugin
  plugins/jfrog/README.md
  plugins/jfrog/jfrog.plugin.zsh
Labels: Area: plugin, New: plugin

#8679 npm: hardcode completion function and delete cached one
  plugins/npm/npm.plugin.zsh
Labels: Area: plugin, Topic: completion

#8209 Add option to install OMZ without replacing .zshrc
  tools/install.sh
Labels: Area: core, Area: installer

#8681 Add vi-mode support for interactive-cd
  plugins/zsh-interactive-cd/zsh-interactive-cd.plugin.zsh
Labels: Area: plugin, Topic: bindkey

#3762 vagrant: add common aliases
  plugins/vagrant/vagrant.plugin.zsh
Labels: Area: plugin, Topic: alias

#7172 updater: add --autostash to git pull
  tools/upgrade.sh
Labels: Area: core, Area: updater

#6725 added hg prompt to norm theme
  themes/norm.zsh-theme
Labels: Area: theme

#3707 jhbuild: Add shell alias
  plugins/jhbuild/jhbuild.plugin.zsh
Labels: Area: plugin, Topic: alias

#4717 Add rdeps and rdependents completion to macports
  plugins/macports/_port
Labels: Area: plugin, Topic: completion

#7979 Fix an issue with escape characters
  plugins/copybuffer/copybuffer.plugin.zsh
Labels: Area: plugin

#7996 lib: support additional clipboard types
  lib/clipboard.zsh
Labels: Area: core

#4838 fancy-ctrl-z: ensure widgets are called with full context
  plugins/fancy-ctrl-z/fancy-ctrl-z.plugin.zsh
Labels: Area: plugin

#4986 Update geeknote
  plugins/geeknote/README.md
  plugins/geeknote/_geeknote
Labels: Area: plugin, Topic: completion

#5820 Change sed regex to capture all possible kitchen commands
  plugins/kitchen/_kitchen
Labels: Area: plugin, Topic: completion

#5933 Keep composer autocompletion when using global command
  plugins/composer/composer.plugin.zsh
Labels: Area: plugin

#6245 Update update_terminalapp_cwd to urlencode the hostname
  lib/termsupport.zsh
Labels: Area: core, Status: testers needed

#6230 Simple completions for stack exec and stack test
  plugins/stack/stack.plugin.zsh
Labels: Area: plugin

#6097 Cache full fasd initialisation script
  plugins/fasd/fasd.plugin.zsh
Labels: Area: plugin, Status: testers needed

#6475 Fix plugins/pass completion to allow for multiple pass repos
  plugins/pass/_pass
Labels: Area: plugin, Topic: completion

#6586 Fix gradle command option name
  plugins/gradle/gradle.plugin.zsh
Labels: Area: plugin

#7256 Add mix plugin format option
  plugins/mix/_mix
Labels: Area: plugin, Topic: completion

#7547 mercurial plugin: add hga alias to README.md
  plugins/mercurial/README.md
Labels: Area: plugin, Plugin: mercurial

#7586 Minor improvements to the gitignore plugin
  plugins/gitignore/gitignore.plugin.zsh
Labels: Area: plugin

#7706 zsh_reload: Respect `$ZDOTDIR` when searching for `.zshrc`
  plugins/zsh_reload/zsh_reload.plugin.zsh
Labels: Area: plugin
