Repository ohmyzsh/ohmyzsh, pull requests merged in 2020-12, with the labels that each got.

#9186 fix(git-prompt): make `gitstatus.py` python3-compatible
  plugins/git-prompt/gitstatus.py
Labels: Area: plugin

#9418 fix(command-not-found): show error in Ubuntu when no package is found
  plugins/command-not-found/command-not-found.plugin.zsh
Labels: Area: plugin

#9469 feat(wp-cli): add aliases for DB management
  plugins/wp-cli/README.md
  plugins/wp-cli/wp-cli.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#9476 refactor(archlinux): prevent leaking local variables
  plugins/archlinux/archlinux.plugin.zsh
Labels: Area: plugin

#9484 fix(git): silently fail in `git_main_branch` if not in a git repo
  plugins/git/git.plugin.zsh
Labels: Area: plugin, Plugin: git

#9315 feat(plugins): add grc plugin for Generic Colouriser
  plugins/grc/README.md
  plugins/grc/grc.plugin.zsh
Labels: Area: plugin, New: plugin, Type: documentation

#9162 aliases: Don't overshadow fd
  plugins/common-aliases/README.md
  plugins/common-aliases/common-aliases.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#9188 feat(lib): show upstream branch in `git_prompt_info`
  lib/git.zsh
Labels: Area: core

#9502 feat(plugins): add genpass plugin with 3 distinct password generators
  .github/CODEOWNERS
  plugins/genpass/README.md
  plugins/genpass/genpass.plugin.zsh
Labels: Area: plugin, New: plugin, Type: documentation

#9508 Plugin genpass. Force grep(1) to use only ASCII characters in gennpass-xkcd.
  plugins/genpass/genpass.plugin.zsh
Labels: Area: plugin

#9514 fix(genpass): fix grep regex in `genpass-xkcd` for FreeBSD version
  plugins/genpass/genpass.plugin.zsh
Labels: Area: plugin

#9520 fix(genpass): improve performance and usability and fix bugs
  plugins/genpass/README.md
  plugins/genpass/genpass-apple
  plugins/genpass/genpass-monkey
  plugins/genpass/genpass-xkcd
  plugins/genpass/genpass.plugin.zsh
Labels: Area: plugin, Type: documentation

#9501 fix(brew)!: update `bcubc` alias to use `brew upgrade --cask`
  plugins/brew/README.md
  plugins/brew/brew.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#9553 feat(grc): source `grc.zsh` instead of hard-coding its content
  plugins/grc/README.md
  plugins/grc/grc.plugin.zsh
Labels: Area: plugin, Type: documentation
