Repository ohmyzsh/ohmyzsh, pull requests merged in 2020-09, with the labels that each got.

#9220 chuck-norris: remove some CN quotes and fix formatting
  plugins/chucknorris/fortunes/chucknorris
Labels: Area: plugin

#8895 fzf: setup FZF_DEFAULT_COMMAND based on installed tools
  plugins/fzf/README.md
  plugins/fzf/fzf.plugin.zsh
Labels: Area: plugin, Type: documentation

#9238 update: return git error code on failure
  tools/upgrade.sh
Labels: Area: core, Area: updater

#9244 Update wd to latest
  plugins/wd/README.md
  plugins/wd/wd.sh
Labels: Area: plugin, Type: documentation

#8917 Run pyenv init with --no-rehash
  plugins/pyenv/pyenv.plugin.zsh
Labels: Area: plugin

#9255 docs: fix small typo in README
  README.md
Labels: Type: documentation

#9253 brew: replace deprecated brew cask outdated command
  plugins/brew/README.md
  plugins/brew/brew.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#9280 brew: add alias for brew to avoid upgrading casks
  plugins/brew/README.md
  plugins/brew/brew.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#9270 minikube: fix spelling
  plugins/minikube/minikube.plugin.zsh
Labels: Area: plugin

#8206 terraform: add tf Alias
  plugins/terraform/README.md
  plugins/terraform/terraform.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation
