Repository ohmyzsh/ohmyzsh, pull requests merged in 2020-05, with the labels that each got.

#8876 core: add basic Oh My Zsh CLI
  core/cli.zsh
  oh-my-zsh.sh
Labels: Area: init

#8878 core: refresh zcompdump cache file in init script
  oh-my-zsh.sh
Labels: Area: init

#8550 gitfast: proper synchronization
  plugins/gitfast/_git
  plugins/gitfast/git-completion.bash
  plugins/gitfast/git-prompt.sh
Labels: Area: plugin, Topic: completion

#8914 Add plugin for rustup completion
  plugins/rustup/README.md
  plugins/rustup/_rustup
Labels: Area: plugin, New: plugin, Topic: completion, Type: documentation

#8941 update: display logo in rainbow colors
  tools/upgrade.sh
Labels: Area: core, Area: updater

#5000 bundler: add alias for bundle check
  plugins/bundler/bundler.plugin.zsh
Labels: Area: plugin, Topic: alias

#8947 Fix a bug in upgrade.sh where it fails to reset terminal color
  tools/upgrade.sh
Labels: Area: core, Area: updater

#8908 feat(frontend-search): adding packagephobia
  plugins/frontend-search/README.md
  plugins/frontend-search/_frontend-search.sh
  plugins/frontend-search/frontend-search.plugin.zsh
Labels: Area: plugin, Topic: alias, Topic: completion, Type: documentation

#8937 builtin cd overrides user aliases and functions
  lib/cli.zsh
  lib/diagnostics.zsh
  oh-my-zsh.sh
Labels: Area: core, Area: init

#8931 pipenv: fix error when Pipfile is not a file
  plugins/pipenv/pipenv.plugin.zsh
Labels: Area: plugin

#8928 jira: add tempo command
  plugins/jira/README.md
  plugins/jira/_jira
  plugins/jira/jira.plugin.zsh
Labels: Area: plugin, Topic: completion, Type: documentation

#8902 git: exclude 'development' in gdba alias
  plugins/git/README.md
  plugins/git/git.plugin.zsh
Labels: Area: plugin, Plugin: git, Topic: alias, Type: documentation

#8048 core: remove inc_append_history option
  lib/history.zsh
Labels: Area: core

#8798 man: look for man page for subcommands
  plugins/man/man.plugin.zsh
Labels: Area: plugin

#8957 git: exclude devel branch from list in gbda alias
  plugins/git/README.md
  plugins/git/git.plugin.zsh
Labels: Area: plugin, Plugin: git, Topic: alias, Type: documentation

#8563 git: add convenience aliases for `git apply` and `git am`
  plugins/git/README.md
  plugins/git/git.plugin.zsh
Labels: Area: plugin, Plugin: git, Topic: alias

#8803 forklift: add support for Forklift distributed via the Setapp
  plugins/forklift/forklift.plugin.zsh
Labels: Area: plugin

#8809 direnv: check if direnv is installed
  plugins/direnv/direnv.plugin.zsh
Labels: Area: plugin

#8850 Clarify what glp alias does
  plugins/git/README.md
Labels: Area: plugin, Plugin: git, Type: documentation

#5926 common-aliases: fix hardcoded .zshrc path
  plugins/common-aliases/common-aliases.plugin.zsh
Labels: Area: plugin, Status: conflicts, Topic: alias

#8929 vagrant: fix vagrant box autocomplete
  plugins/vagrant/_vagrant
Labels: Area: plugin, Topic: completion

#8916 archlinux: fix pacweb with non-English locales
  plugins/archlinux/archlinux.plugin.zsh
Labels: Area: plugin

#8835 docker: update to latest upstream completion (92dc906)
  plugins/docker/_docker
Labels: Area: plugin, Topic: completion

#8538 asdf: fix completions if ASDF_DIR is already exported
  plugins/asdf/asdf.plugin.zsh
Labels: Area: plugin

#8867 python: add line-number to pygrep
  plugins/python/python.plugin.zsh
Labels: Area: plugin, Topic: alias

#8880 terraform: add fmt -recursive flag autocompletion
  plugins/terraform/_terraform
Labels: Area: plugin, Topic: completion

#7457 Add plugin for LXD autocomplete
  plugins/lxd/README.md
  plugins/lxd/lxd.plugin.zsh
Labels: Area: plugin, New: plugin, Type: documentation

#6434 Add plugin for bazel completion
  plugins/bazel/README.md
  plugins/bazel/_bazel
Labels: Area: plugin, New: plugin, Topic: completion, Type: documentation

#8692 Add `shell-proxy` plugin
  plugins/shell-proxy/README.md
  plugins/shell-proxy/proxy.py
  plugins/shell-proxy/shell-proxy.plugin.zsh
  plugins/shell-proxy/ssh-agent.py
  plugins/shell-proxy/ssh-proxy.py
Labels: Area: plugin, New: plugin, Status: testers needed, Type: documentation
