Repository ohmyzsh/ohmyzsh, pull requests merged in 2020-11, with the labels that each got.

#9411 AWS plugin: support MFA for profiles without role to assume
  plugins/aws/README.md
  plugins/aws/aws.plugin.zsh
Labels: Area: plugin, Plugin: aws, Type: documentation

#9421 fix(fzf): consistently ignore .git directory in `FZF_DEFAULT_COMMAND`
  plugins/fzf/fzf.plugin.zsh
Labels: Area: plugin

#9364 fix(battery): use `pmset` for battery percentage in macOS
  plugins/battery/battery.plugin.zsh
Labels: Area: plugin

#9433 docs(thefuck): add description for enabling the plugin
  plugins/thefuck/README.md
Labels: Area: plugin, Type: documentation

#9426 aws: refactor acp function and various fixes
  plugins/aws/aws.plugin.zsh
Labels: Area: plugin, Plugin: aws

#9422 docs(aws): add config examples
  plugins/aws/README.md
Labels: Area: plugin, Type: documentation

#9431 feat(sudo): support aliases to $EDITOR
  plugins/sudo/sudo.plugin.zsh
Labels: Area: plugin

#9417 feat(git): support trunk branches in `git_main_branch`
  plugins/git/git.plugin.zsh
Labels: Area: plugin, Plugin: git

#9437 refactor(colored-man-pages): move nroff wrapper and refactor logic in `colored` function
  plugins/colored-man-pages/README.md
  plugins/colored-man-pages/colored-man-pages.plugin.zsh
  plugins/colored-man-pages/nroff
Labels: Area: plugin, Type: documentation

#9453 feat(aws): respect optional parameters from the AWS CLI config file
  plugins/aws/aws.plugin.zsh
Labels: Area: plugin, Plugin: aws

#9458 feat(gitfast): update to git-completion 1.2
  plugins/gitfast/_git
  plugins/gitfast/git-completion.bash
  plugins/gitfast/update
Labels: Area: plugin, Topic: completion

#9447 fix(shell-proxy): change NAME env variable for WSL clash
  plugins/shell-proxy/proxy.py
  plugins/shell-proxy/ssh-agent.py
Labels: Area: plugin

#9226 feat(terraform): add autocompletion for Terraform 0.13
  plugins/terraform/_terraform
Labels: Area: plugin, Topic: completion, Type: documentation

#8356 style(ansible): minor style change
  plugins/ansible/ansible.plugin.zsh
Labels: Area: plugin, Topic: alias

#9466 fix(magic-enter): fix various bugs in the plugin
  plugins/magic-enter/magic-enter.plugin.zsh
Labels: Area: plugin, Topic: bindkey

#9468 fix(git-auto-fetch): background `git-fetch-all` and other fixes
  plugins/git-auto-fetch/README.md
  plugins/git-auto-fetch/git-auto-fetch.plugin.zsh
Labels: Area: plugin, Type: documentation
