Repository ohmyzsh/ohmyzsh, pull requests merged in 2020-04, with the labels that each got.

#8794 gnu-utils: append make to cmds
  plugins/gnu-utils/gnu-utils.plugin.zsh
Labels: Area: plugin

#8818 Readme: Adds more info.
  plugins/tig/README.md
Labels: Area: plugin, Type: documentation

#8828 composer: fix cdo alias due to command api change
  plugins/composer/composer.plugin.zsh
Labels: Area: plugin, Topic: alias

#8857 jsontools: correct usage for is_json
  plugins/jsontools/README.md
Labels: Area: plugin, Type: documentation

#8816 aws: fix aws_change_access_key function with awscli v2
  plugins/aws/aws.plugin.zsh
Labels: Area: plugin, Plugin: aws, Status: testers needed

#8854 Improve sdk completion
  plugins/sdk/sdk.plugin.zsh
Labels: Area: plugin

#8870 sdk plugin: support completion for new commands in 5.8.0
  plugins/sdk/sdk.plugin.zsh
Labels: Area: plugin
