Repository ohmyzsh/ohmyzsh, pull requests merged in 2020-07, with the labels that each got.

#8731 gradle: force `--console plain` for tasks cache generation
  plugins/gradle/_gradle
Labels: Area: plugin, Topic: completion

#9069 install: fix typo
  tools/install.sh
Labels: Area: core, Area: installer

#8807 lib: enable diff color
  lib/theme-and-appearance.zsh
Labels: Area: core, Topic: alias

#9049 git: change main branch naming scheme
  plugins/git/README.md
  plugins/git/git.plugin.zsh
Labels: Area: plugin, Plugin: git, Topic: alias, Type: documentation

#9068 Bug and Feature Request Templates + MLH Theme + Readme
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  README.md
  themes/mlh.zsh-theme
Labels: Area: theme, New: theme, Platform: Linux, Platform: Windows, Platform: macOS, Type: documentation, Type: enhancement, Type: support

#9047 Plugin: Sudo - Make the behavior more in line with expectations
  plugins/sudo/sudo.plugin.zsh
Labels: Area: plugin

#7804 Safety fix and speed-ups for lib/git.zsh prompt functions
  lib/git.zsh
Labels: Area: core

#9099 aws: allow @ in AWS profiles
  plugins/aws/aws.plugin.zsh
Labels: Area: plugin, Plugin: aws

#8561 mix-fast: add decriptions to mix-fast completions
  plugins/mix-fast/mix-fast.plugin.zsh
Labels: Area: plugin, Topic: completion

#8764 Add an alias to upgrade-interactive to the latest version
  plugins/yarn/README.md
  plugins/yarn/yarn.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#9102 dotenv: add never option to confirmation prompt
  plugins/dotenv/README.md
  plugins/dotenv/dotenv.plugin.zsh
Labels: Area: plugin, Type: documentation

#9080 vscode: add support for VSCodium
  plugins/vscode/README.md
  plugins/vscode/vscode.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#9107 Suppress the problematic trap output in check_for_upgrade.sh
  tools/check_for_upgrade.sh
Labels: Area: core, Area: updater

#8032 httpie: add alias for https
  plugins/httpie/README.md
  plugins/httpie/httpie.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#8604 kubectl: add alias to list pods by namespace
  plugins/kubectl/README.md
  plugins/kubectl/kubectl.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#8997 docker-compose: add alias for `docker-compose kill`
  plugins/docker-compose/README.md
  plugins/docker-compose/docker-compose.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#8151 timer: threshold to show timers only for time-consuming commands
  plugins/timer/README.md
  plugins/timer/timer.plugin.zsh
Labels: Area: plugin

#9117 extract: Add IPA to extractable filetypes
  plugins/extract/README.md
  plugins/extract/_extract
  plugins/extract/extract.plugin.zsh
Labels: Area: plugin, Type: documentation

#9116 battery: add acpi requirement to README
  plugins/battery/README.md
Labels: Area: plugin, Type: documentation

#9123 aws: improve check for aws_completer - unhardcode path
  plugins/aws/aws.plugin.zsh
Labels: Area: plugin, Plugin: aws

#8824 colorize: add $ZSH_COLORIZE_CHROMA_FORMATTER config env var
  plugins/colorize/README.md
  plugins/colorize/colorize.plugin.zsh
Labels: Area: plugin
