Repository ohmyzsh/ohmyzsh, pull requests merged in 2020-03, with the labels that each got.

#7442 Add local Python package files to completion for pip install
  plugins/pip/_pip
Labels: Area: plugin, Topic: completion

#7446 [minikube plugin] cache command completions
  plugins/minikube/minikube.plugin.zsh
Labels: Area: plugin

#7382 Added minimum length and ellipsis symbol options for the shrink-path plugin.
  plugins/shrink-path/README.md
  plugins/shrink-path/shrink-path.plugin.zsh
Labels: Area: plugin, Status: testers needed, Type: documentation

#7740 Speed up command-not-found plugin
  plugins/command-not-found/command-not-found.plugin.zsh
Labels: Area: plugin, Status: testers needed

#7758 Create pyuserpaths
  plugins/python/README.md
  plugins/python/python.plugin.zsh
Labels: Area: plugin, Status: conflicts, Type: documentation

#7870 sdk: add support for local versions and optimize sed calls
  plugins/sdk/sdk.plugin.zsh
Labels: Area: plugin

#8696 lib: use `command` to run rm in upgrade function
  lib/functions.zsh
Labels: Area: core

#8697 [git plugin] Make the gpristine alias remove untracked git repos
  plugins/git/README.md
  plugins/git/git.plugin.zsh
Labels: Area: plugin, Plugin: git, Topic: alias

#7982 Automatic title: Replace fg with description from jobs
  lib/termsupport.zsh
Labels: Area: core

#8688 [arcanist] Allow for easier copy pasting of URLS via functions and add arc diff --preview
  plugins/arcanist/README.md
  plugins/arcanist/arcanist.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#7694 shrink-path: added glob and quote options
  plugins/shrink-path/README.md
  plugins/shrink-path/shrink-path.plugin.zsh
Labels: Area: plugin, Status: testers needed, Type: documentation

#8670 Add support for AWS CLI v2 autocompletion
  plugins/aws/aws.plugin.zsh
Labels: Area: plugin, Plugin: aws

#8035 Support konsole-256color TERM in title function
  lib/termsupport.zsh
Labels: Area: core

#8709 nvm: add `install-latest-npm` to completion
  plugins/nvm/_nvm
Labels: Area: plugin, Topic: completion

#8707 fix aws completer path on nixos
  plugins/aws/aws.plugin.zsh
Labels: Area: plugin, Plugin: aws, Status: testers needed

#8725 remove invalid value "candidates" from sdk flush completion
  plugins/sdk/sdk.plugin.zsh
Labels: Area: plugin

#8712 archlinux: fix wrong parameters in pacfiles alias
  plugins/archlinux/README.md
  plugins/archlinux/archlinux.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#8715 Add markdown Readme to z
  plugins/z/README.md
Labels: Area: plugin, Type: documentation

#8747 man: Removed everything but the command itself before prepending man
  plugins/man/man.plugin.zsh
Labels: Area: plugin

#8752 update path for snapd /snap/bin/* which is used by Linux systems
  plugins/sublime/sublime.plugin.zsh
Labels: Area: plugin

#8666 Add direnv plugin
  plugins/direnv/README.md
  plugins/direnv/direnv.plugin.zsh
Labels: Area: plugin, New: plugin, Type: documentation

#8757 Change direnv not assume /usr/local/bin
  plugins/direnv/direnv.plugin.zsh
Labels: Area: plugin

#8758 [virtualenvwrapper plugin]: Adding $HOME/.local/bin/virtualenvwrapper.sh
  plugins/virtualenvwrapper/virtualenvwrapper.plugin.zsh
Labels: Area: plugin

#8729 dotenv plugin: agree once improvement
  plugins/dotenv/README.md
  plugins/dotenv/dotenv.plugin.zsh
Labels: Area: plugin, Type: documentation

#8769 Update README.md
  plugins/git/README.md
Labels: Area: plugin, Plugin: git

#8772 Fix systemd prompt appearance
  plugins/systemd/systemd.plugin.zsh
Labels: Area: plugin

#8776 colorized-man-pages: Added hooks for commands dman and debman
  plugins/colored-man-pages/README.md
  plugins/colored-man-pages/colored-man-pages.plugin.zsh
Labels: Area: plugin, Type: documentation
