Repository ohmyzsh/ohmyzsh, pull requests merged in 2021-05, with the labels that each got.

#9557 feat(plugins): add `gh` plugin for GitHub CLI
  plugins/gh/.gitignore
  plugins/gh/README.md
  plugins/gh/gh.plugin.zsh
Labels: Area: plugin, New: plugin, Type: documentation

#9876 fix(command-not-found): remove invalid argument for PackageKit
  plugins/command-not-found/command-not-found.plugin.zsh
Labels: Area: plugin

#9692 fix(cargo): complete flags for default cargo aliases
  plugins/cargo/_cargo
Labels: Area: plugin, Topic: completion

#8881 feat(git): add aliases `gcas` and `gcasm` for commit with sign-off
  plugins/git/README.md
  plugins/git/git.plugin.zsh
Labels: Area: plugin, Plugin: git, Topic: alias, Type: documentation

#9794 feat(shrink-path): add ability to toggle off path shrinking
  plugins/shrink-path/README.md
  plugins/shrink-path/shrink-path.plugin.zsh
Labels: Area: plugin, Status: testers needed, Type: documentation

#8502 feat(dirhistory): add ALT+UP/DOWN key bindings for iTerm2
  plugins/dirhistory/dirhistory.plugin.zsh
Labels: Area: plugin, Topic: bindkey

#9940 fix(dirhistory): fix ALT+Left/Right key bindings for iTerm2
  plugins/dirhistory/dirhistory.plugin.zsh
Labels: Area: plugin, Topic: bindkey

#9885 fix(gentoo): fix the color of the prompt symbol
  themes/gentoo.zsh-theme
Labels: Area: theme

#9916 chore(chucknorris): fix typo
  plugins/chucknorris/fortunes/chucknorris
Labels: Area: plugin

#9901 feat(extract): add support for .ear files
  plugins/extract/README.md
  plugins/extract/_extract
  plugins/extract/extract.plugin.zsh
Labels: Area: plugin, Topic: completion, Type: documentation
