Repository ohmyzsh/ohmyzsh, pull requests merged in 2021-06, with the labels that each got.

#7736 add python alias
  plugins/python/python.plugin.zsh
Labels: Area: plugin, Topic: alias

#6309 ssh-agent: improvements
  plugins/ssh-agent/README.md
  plugins/ssh-agent/ssh-agent.plugin.zsh
Labels: Area: plugin, Status: testers needed, Type: documentation

#4662 add alias plugin: cheatsheat your alias.
  plugins/aliases/aliases.plugin.zsh
  plugins/aliases/cheatsheet.py
  plugins/aliases/termcolor.py
Labels: Area: plugin, New: plugin, Status: testers needed, Topic: alias

#9943 fix(update): correct description of how changelog is displayed
  tools/upgrade.sh
Labels: Area: core, Area: updater

#4803 Allow dot in Vagrant box name
  plugins/vagrant/_vagrant
Labels: Area: plugin, Topic: completion

#4977 add 'rails server --bind' alias
  plugins/rails/rails.plugin.zsh
Labels: Area: plugin, Topic: alias

#6126 Add `rdmd` and `rdmu` aliases to Rails plugin
  plugins/rails/rails.plugin.zsh
Labels: Area: plugin, Topic: alias

#6124 Add `rdmr` alias to Rails plugin
  plugins/rails/rails.plugin.zsh
Labels: Area: plugin, Topic: alias

#9927 remove duplicated alias for kubectl plugin `kgsa`
  plugins/kubectl/README.md
  plugins/kubectl/kubectl.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#5663 virtualenvwrapper: several changes, including fixes
  plugins/virtualenvwrapper/virtualenvwrapper.plugin.zsh
Labels: Area: plugin

#5522 cache thefuck aliases
  plugins/thefuck/thefuck.plugin.zsh
Labels: Area: plugin

#3387 add bower commands aliases
  plugins/bower/bower.plugin.zsh
Labels: Area: plugin, Topic: alias

#2029 add support to `take' for taking remote urls
  lib/functions.zsh
Labels: Area: core

#9964 feat(git): add gpr alias for "git pull -rebase" which is easier to remember (#9951)
  plugins/git/README.md
  plugins/git/git.plugin.zsh
Labels: Area: plugin, Plugin: git, Topic: alias, Type: documentation

#9963 Plugin with aliases and completion for Date command
  plugins/isodate/README.md
  plugins/isodate/isodate.plugin.zsh
Labels: Area: plugin, New: plugin, Topic: alias, Type: documentation

#4653 Add a new alias
  plugins/ubuntu/ubuntu.plugin.zsh
Labels: Area: plugin, Topic: alias

#4970 Add helper function to get the mercurial bookmark.
  plugins/mercurial/mercurial.plugin.zsh
Labels: Area: plugin, Area: theme, Plugin: mercurial, Topic: alias

#7533 Plugin "debian": Switch order of "apt" and "aptitude" for detection
  plugins/debian/README.md
  plugins/debian/debian.plugin.zsh
Labels: Area: plugin, Type: documentation

#3574 Complete samtools bedtools
  plugins/bedtools/README.md
  plugins/bedtools/_bedtools
  plugins/samtools/README.md
  plugins/samtools/_samtools
Labels: Area: plugin, New: plugin, Topic: completion, Type: documentation

#3534 Add Ag completion
  plugins/ag/README.md
  plugins/ag/_ag
Labels: Area: plugin, New: plugin, Topic: completion, Type: documentation

#6567 Added kgpall alias
  plugins/kubectl/kubectl.plugin.zsh
Labels: Area: plugin, Topic: alias

#6114 Add 'kubectx' plugin.
  lib/prompt_info_functions.zsh
  plugins/kubectx/README.md
  plugins/kubectx/kubectx.plugin.zsh
  plugins/kubectx/prod.png
  plugins/kubectx/stage.png
Labels: Area: core, Area: plugin, New: plugin, Type: documentation

#9971 update the official theme of Major League Hacking
  themes/mlh.zsh-theme
Labels: Area: theme

#9965 feat(plugins): add alias for pip
  plugins/pip/README.md
  plugins/pip/pip.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#9958 Add alias for 'git checkout --recurse-submodules'
  plugins/git/README.md
  plugins/git/git.plugin.zsh
Labels: Area: plugin, Plugin: git, Topic: alias, Type: documentation

#9950 feat(plugins): add zoxide
  .github/CODEOWNERS
  plugins/zoxide/README.md
  plugins/zoxide/zoxide.plugin.zsh
Labels: Area: plugin, New: plugin, Type: documentation

#9946 feat(nvm): customizable list of command that triggers lazy loading
  plugins/nvm/README.md
  plugins/nvm/nvm.plugin.zsh
Labels: Area: plugin, Type: documentation

#4591 speed up mercurial plugin
  plugins/mercurial/mercurial.plugin.zsh
Labels: Area: plugin, Plugin: mercurial, Status: testers needed

#5819 Add aliases for supervisor
  plugins/supervisor/supervisor.plugin.zsh
Labels: Area: plugin, Topic: alias

#7684 pm2 plugin
  plugins/pm2/README.md
  plugins/pm2/_pm2
  plugins/pm2/pm2.plugin.zsh
Labels: Area: plugin, New: plugin, Topic: alias, Topic: completion, Type: documentation

#7616 Add aliases for 'git commit -S -s [-m]'
  plugins/git/git.plugin.zsh
Labels: Area: plugin, Plugin: git, Topic: alias

#7481 Add config interpolation for git-flow messages
  plugins/git-flow/git-flow.plugin.zsh
Labels: Area: plugin, Topic: alias
