Repository ohmyzsh/ohmyzsh, pull requests merged in 2021-12, with the labels that each got.

#10459 chore: fix spelling errors across the project
  plugins/aliases/cheatsheet.py
  plugins/aliases/termcolor.py
  plugins/bower/bower.plugin.zsh
  plugins/catimg/catimg.plugin.zsh
  plugins/catimg/catimg.sh
  plugins/chucknorris/fortunes/chucknorris
  plugins/colorize/colorize.plugin.zsh
  plugins/cpanm/_cpanm
  plugins/docker-machine/_docker-machine
  plugins/dotnet/dotnet.plugin.zsh
  plugins/emoji/emoji.plugin.zsh
  plugins/fastfile/fastfile.plugin.zsh
  plugins/fd/README.md
  plugins/flutter/README.md
  plugins/fzf/README.md
  plugins/gitfast/git-completion.bash
  plugins/grails/grails.plugin.zsh
  plugins/grunt/grunt.plugin.zsh
  plugins/history-substring-search/history-substring-search.zsh
  plugins/ipfs/_ipfs
  plugins/iterm2/iterm2.plugin.zsh
  plugins/jenv/README.md
  plugins/macos/spotify
  plugins/mercurial/README.md
  plugins/npm/README.md
  plugins/pep8/_pep8
  plugins/please/README.md
  plugins/pm2/_pm2
  plugins/powify/_powify
  plugins/rake/rake.plugin.zsh
  plugins/rebar/_rebar
  plugins/redis-cli/_redis-cli
  plugins/salt/_salt
  plugins/scala/_scala
  plugins/sfdx/_sfdx
  plugins/sprunge/README.md
  plugins/supervisor/_supervisorctl
  plugins/supervisor/supervisor.plugin.zsh
  plugins/suse/README.md
  plugins/symfony2/README.md
  plugins/systemadmin/systemadmin.plugin.zsh
  plugins/terminitor/_terminitor
  plugins/ubuntu/README.md
  plugins/vault/_vault
  plugins/yarn/_yarn
  plugins/yum/yum.plugin.zsh
  themes/dallas.zsh-theme
  themes/essembeh.zsh-theme
  themes/nicoulaj.zsh-theme
Labels: Area: plugin, Topic: alias, Type: documentation, Topic: completion

#10465 feat(updater): show command to update when update skipped
  tools/check_for_upgrade.sh
Labels: Area: core, Area: updater

#9948 feat(branch): show mercurial bookmarks if used
  plugins/branch/README.md
  plugins/branch/branch.plugin.zsh
Labels: Area: plugin, Status: testers needed, Type: documentation

#10470 ci: add `check-spelling` action
  .github/actions/spelling/README.md
  .github/actions/spelling/advice.md
  .github/actions/spelling/allow.txt
  .github/actions/spelling/excludes.txt
  .github/actions/spelling/expect.txt
  .github/actions/spelling/patterns.txt
  .github/actions/spelling/reject.txt
  .github/workflows/spelling.yml
Labels: Type: documentation

#10456 refactor(shell-proxy)!: rename env vars to `SHELLPROXY_*` and add usage message
  .github/actions/spelling/expect.txt
  plugins/shell-proxy/README.md
  plugins/shell-proxy/proxy.py
  plugins/shell-proxy/shell-proxy.plugin.zsh
Labels: Area: plugin, Type: documentation

#10506 fix(ys): use default color instead of gray for improved readability
  themes/ys.zsh-theme
Labels: Area: theme

#10091 feat(archlinux): add aliases for cleaning package cache
  plugins/archlinux/README.md
  plugins/archlinux/archlinux.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#10514 refactor(fzf): adopt code style and simplify function naming
  plugins/fzf/fzf.plugin.zsh
Labels: Area: plugin

#10436 fix(heroku): fix XDG cache directory name and code style
  plugins/heroku/heroku.plugin.zsh
Labels: Area: plugin

#10501 feat(deno): adding drA alias
  plugins/deno/README.md
  plugins/deno/deno.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#10441 feat(volta): add volta plugin
  plugins/volta/README.md
  plugins/volta/_volta
Labels: Area: plugin, Type: documentation, Topic: completion, New: plugin

#10410 feat(istioctl): add plugin for istioctl
  plugins/istioctl/README.md
  plugins/istioctl/istioctl.plugin.zsh
Labels: Area: plugin, Type: documentation, New: plugin

#10508 Added support for SUSE-derived operation systems (ZYpp) to CNF plugin
  plugins/command-not-found/README.md
  plugins/command-not-found/command-not-found.plugin.zsh
Labels: Area: plugin, Type: documentation

#10503 feat(jfrog): Support jf executable auto completion
  plugins/jfrog/jfrog.plugin.zsh
Labels: Area: plugin

#10423 feat(operator-sdk): add plugin for operator-sdk
  plugins/operator-sdk/README.md
  plugins/operator-sdk/operator-sdk.plugin.zsh
Labels: Area: plugin, Type: documentation, New: plugin

#10315 docs(README): Document .pre-oh-my-zsh
  README.md
Labels: Type: documentation

#10219 feat(rvm): add alias `rvms`
  plugins/rvm/README.md
  plugins/rvm/rvm.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#10135 feat(brew): improve `brews` list layout
  plugins/brew/brew.plugin.zsh
Labels: Area: plugin, Topic: alias

#10516 feat(yarn): upgrade completion to latest version
  plugins/yarn/_yarn
Labels: Area: plugin, Topic: completion

#10528 fix(symfony2): silence debug lines in command completion
  plugins/symfony2/symfony2.plugin.zsh
Labels: Area: plugin

#9323 feat(lpass): add plugin for LastPass CLI completion
  plugins/lpass/README.md
  plugins/lpass/_lpass
Labels: Area: plugin, Type: documentation, Topic: completion, New: plugin

#10402 feat(zsh-navigation-tools)!: update to zdharma-continuum fork
  plugins/zsh-navigation-tools/.config/znt/README.txt
  plugins/zsh-navigation-tools/README.md
  plugins/zsh-navigation-tools/doc/generate_single_file
  plugins/zsh-navigation-tools/doc/img/n-history2.png
  plugins/zsh-navigation-tools/doc/install.sh
  plugins/zsh-navigation-tools/doc/n-preview
  plugins/zsh-navigation-tools/doc/znt-tmux.zsh
  plugins/zsh-navigation-tools/zsh-navigation-tools.plugin.zsh
Labels: Area: plugin, Type: documentation

#10431 feat(pip): alias `pip` to `pip3` if pip is missing
  plugins/pip/pip.plugin.zsh
Labels: Area: plugin, Topic: alias

#10346 feat(rbw): add completion for `rbw` Bitwarden client
  .github/actions/spelling/expect.txt
  plugins/rbw/README.md
  plugins/rbw/rbw.plugin.zsh
Labels: Area: plugin, Status: testers needed, Type: documentation, New: plugin

#10515 feat(volta): add dynamic completion generation
  plugins/volta/_volta
  plugins/volta/volta.plugin.zsh
Labels: Area: plugin, Topic: completion

#9667 docs(oc): update link to openshift CLI reference
  plugins/oc/README.md
Labels: Area: plugin, Type: documentation

#9990 docs(aliases): clarify usage
  plugins/aliases/README.md
Labels: Area: plugin, Type: documentation

#9746 feat(autojump): add support for NetBSD
  plugins/autojump/autojump.plugin.zsh
Labels: Area: plugin

#9594 feat(bundler): add completion for `info` argument
  plugins/bundler/_bundler
Labels: Area: plugin, Topic: completion

#8564 feat(fossil): add completion for `fossil add`
  plugins/fossil/_fossil
  plugins/fossil/fossil.plugin.zsh
Labels: Area: plugin, Topic: completion

#8326 feat(helm): cache completion file in the background
  plugins/helm/helm.plugin.zsh
Labels: Area: plugin

#8698 feat(macports): add commands to get list of updated ports
  plugins/macports/README.md
  plugins/macports/macports.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#10294 feat(ng): get `ng` completion from parsed help output
  plugins/ng/_ng
  plugins/ng/ng.plugin.zsh
Labels: Area: plugin, Topic: completion

#9761 fix(pass): update `pass` completion to ff5ac38
  plugins/pass/_pass
Labels: Area: plugin, Topic: completion

#9388 feat(repo): add command completion for repo 2.8
  plugins/repo/_repo
Labels: Area: plugin, Topic: completion

#9812 feat(rvm): add latest `rb*` utility functions
  plugins/rvm/README.md
  plugins/rvm/rvm.plugin.zsh
Labels: Area: plugin, Type: documentation

#9800 Update completion script for IPFS version 0.8.0
  plugins/ipfs/_ipfs
Labels: Area: plugin, Topic: completion

#10069 feat(shell-proxy): support SOCKS protocol based on URI scheme
  plugins/shell-proxy/ssh-proxy.py
Labels: Area: plugin

#10218 feat(ruby): add new aliases `rrun` and `rserver`
  plugins/ruby/README.md
  plugins/ruby/ruby.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#9441 fix(systemd): remove `sudo` from power-related aliases
  plugins/systemd/README.md
  plugins/systemd/systemd.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#9983 feat(transfer): allow encryption of uploads using GPG
  plugins/transfer/README.md
  plugins/transfer/transfer.plugin.zsh
Labels: Area: plugin, Type: documentation

#9732 feat(vi-mode): add `INSERT_MODE_INDICATOR`
  plugins/vi-mode/README.md
  plugins/vi-mode/vi-mode.plugin.zsh
Labels: Area: plugin, Type: documentation

#10082 feat(zbell): add option not to use notify-send
  plugins/zbell/README.md
  plugins/zbell/zbell.plugin.zsh
Labels: Area: plugin, Type: documentation

#10096 feat(common-aliases): add single-column and recursive `ls` aliases
  plugins/common-aliases/README.md
  plugins/common-aliases/common-aliases.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#7869 feat(debian): add `aar` alias for autoremove
  plugins/debian/debian.plugin.zsh
Labels: Area: plugin, Topic: alias

#10271 fix(pip): use `pip3` in `pip3 uninstall` completion
  plugins/pip/_pip
Labels: Area: plugin, Topic: completion

#10061 fix(pip): don't overwrite `requirements.txt` in internal commands
  plugins/pip/pip.plugin.zsh
Labels: Area: plugin, Topic: alias

#9717 feat(npm): toggle `npm install` / `npm uninstall` by pressing F2 twice
  plugins/npm/README.md
  plugins/npm/npm.plugin.zsh
Labels: Area: plugin, Topic: bindkey, Type: documentation

#10325 chore(ubuntu): add documentation for `acsp` alias
  plugins/ubuntu/README.md
Labels: Area: plugin, Type: documentation

#10393 docs(nvm): clarify how to get Homebrew directory
  plugins/nvm/README.md
Labels: Area: plugin, Type: documentation

#10543 fix(systemd): fix the restart command
  plugins/systemd/systemd.plugin.zsh
Labels: Area: plugin
