Repository ohmyzsh/ohmyzsh, pull requests merged in 2021-01, with the labels that each got.

#9470 feat(docker): update completion to upstream version
  plugins/docker/_docker
Labels: Area: plugin, Topic: completion

#9552 fix(lib): mark changes as MODIFIED on 'MM' in `git_prompt_status`
  lib/git.zsh
Labels: Area: core

#9542 docs(nvm): clarify how to enable settings
  plugins/nvm/README.md
Labels: Area: plugin, Type: documentation

#8004 fix(vi-mode): control cursor, restore and use visual mode and speed up mode changes
  plugins/vi-mode/vi-mode.plugin.zsh
Labels: Area: plugin, Topic: bindkey

#9452 feat(CLI): add `plugin info` subcommand
  lib/cli.zsh
Labels: Area: core

#9569 fix(archlinux): update URL and key server in `pacmanallkeys`
  plugins/archlinux/archlinux.plugin.zsh
Labels: Area: plugin

#9572 fix(vi-mode): hide cursor-change logic behind opt-in setting
  plugins/vi-mode/README.md
  plugins/vi-mode/vi-mode.plugin.zsh
Labels: Area: plugin, Type: documentation

#6846 add plugin 'universalarchive()' to conveniently compress files
  plugins/universalarchive/README.md
  plugins/universalarchive/_universalarchive
  plugins/universalarchive/universalarchive.plugin.zsh
Labels: Area: plugin, New: plugin, Topic: completion, Type: documentation

#9577 fix(lib): update Emacs terminal detection in `title` function
  lib/termsupport.zsh
Labels: Area: core

#9589 fix(jake-node): support all Jakefile filenames in `jake` completion
  plugins/jake-node/jake-node.plugin.zsh
Labels: Area: plugin

#9521 feat(macports): add 'reclaim' to completion list for Macports
  plugins/macports/_port
Labels: Area: plugin, Topic: completion

#9534 feat(last-working-dir): log separate `lwd`s for different SSH keys on the same user account
  plugins/last-working-dir/README.md
  plugins/last-working-dir/last-working-dir.plugin.zsh
Labels: Area: plugin, Type: documentation

#9593 fix(colorize): bypass less aliases in `colorize_less`
  plugins/colorize/colorize.plugin.zsh
Labels: Area: plugin

#3018 feat(plugins): add `term_tab` plugin to complete other zsh sessions' directories
  plugins/term_tab/README
  plugins/term_tab/term_tab.plugin.zsh
Labels: Area: plugin, New: plugin, Status: testers needed, Topic: bindkey

#9619 docs(git-prompt): explain stashed icon (⚑)
  plugins/git-prompt/README.md
Labels: Area: plugin, Type: documentation
