Repository ohmyzsh/ohmyzsh, pull requests merged in 2021-07, with the labels that each got.

#10044 feat(gnu-utils): include ggrep in gcmds
  plugins/gnu-utils/gnu-utils.plugin.zsh
Labels: Area: plugin

#9924 fix(aws): allow for profile switch w/o MFA configured
  plugins/aws/aws.plugin.zsh
Labels: Area: plugin, Plugin: aws

#10057 chore(github): add links to supported tools
  plugins/github/README.md
Labels: Area: plugin, Type: documentation

#9864 feat(plugins): add fnm plugin
  plugins/fnm/.gitignore
  plugins/fnm/README.md
  plugins/fnm/fnm.plugin.zsh
Labels: Area: plugin, New: plugin, Type: documentation

#9935 fix(pyenv): fix pyenv PATH settings with a warning
  plugins/pyenv/pyenv.plugin.zsh
Labels: Area: plugin
