Repository ohmyzsh/ohmyzsh, pull requests merged in 2021-08, with the labels that each got.

#10001 Fix ag readme
  plugins/ag/README.md
Labels: Area: plugin, Type: documentation

#9881 feat(git): add `develop` branch name detection
  plugins/git/README.md
  plugins/git/git.plugin.zsh
Labels: Plugin: git, Area: plugin, Topic: alias, Type: documentation

#7311 feat(plugins): add completion plugin for `invoke`
  plugins/invoke/README.md
  plugins/invoke/invoke.plugin.zsh
Labels: Area: plugin, Type: documentation, New: plugin

#5959 feat(plugins): `octozen` shows an Octocat zen quote on startup
  plugins/octozen/README.md
  plugins/octozen/octozen.plugin.zsh
Labels: Area: plugin, Type: documentation, New: plugin

#9872 feat(cli): add `plugin load` subcommand
  lib/cli.zsh
Labels: Area: core

#10102 fix(colemak): remove `lesskey` usage in less v582 and newer
  plugins/colemak/.gitignore
  plugins/colemak/colemak.plugin.zsh
Labels: Area: plugin

#9869 feat(cli): add subcommands for plugin `enable` and `disable`
  lib/cli.zsh
Labels: Area: core

#9798 fix(suse): avoid refresh attempts for Zypper queries
  plugins/suse/README.md
  plugins/suse/suse.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#10134 fix(kubectx): show plain context if not mapped
  plugins/kubectx/kubectx.plugin.zsh
Labels: Area: plugin

#9997 feat(mlh): let users configure the official MLH theme
  themes/mlh.zsh-theme
Labels: Area: theme
