Repository ohmyzsh/ohmyzsh, pull requests merged in 2021-04, with the labels that each got.

#8428 feat(theme_chooser): display non-zero exit code
  tools/theme_chooser.sh
Labels: Area: core

#9546 refactor(archlinux): fix name & scripts; reorder aliases
  plugins/archlinux/README.md
  plugins/archlinux/archlinux.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#9774 feat(shell-proxy): enable unexported `DEFAULT_PROXY` setting
  plugins/shell-proxy/proxy.py
  plugins/shell-proxy/shell-proxy.plugin.zsh
Labels: Area: plugin

#9467 feat(archlinux): add support for aura AUR helper
  plugins/archlinux/README.md
  plugins/archlinux/archlinux.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#9803 feat(archlinux)!: remove deprecated commands `aur` and `abs`
  plugins/archlinux/README.md
  plugins/archlinux/archlinux.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#9809 Fix Rails plugin documentation to reflect #9662
  plugins/rails/README.md
Labels: Area: plugin, Type: documentation

#9810 fix(gentoo): fix tab completion color bleed
  themes/gentoo.zsh-theme
Labels: Area: theme

#8415 feat(ys): add setting to hide dirty info in hg repositories
  themes/ys.zsh-theme
Labels: Area: theme

#8453 feat(ys): add virtualenv prompt info
  themes/ys.zsh-theme
Labels: Area: theme

#9856 feat(systemadmin): add IPv6 info to `geteip` command
  plugins/systemadmin/systemadmin.plugin.zsh
Labels: Area: plugin

#9858 feat(fzf): look in XDG compliant location
  plugins/fzf/fzf.plugin.zsh
Labels: Area: plugin

#8454 feat(npm): add alias for `npm i -f`
  plugins/npm/README.md
  plugins/npm/npm.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#9442 feat(npm): add alias for `npm update`
  plugins/npm/README.md
  plugins/npm/npm.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#9365 feat(npm): add aliases for `npm search` and `npm info`
  plugins/npm/README.md
  plugins/npm/npm.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#9847 feat(plugins): add plugin for `deno`
  plugins/deno/.gitignore
  plugins/deno/README.md
  plugins/deno/deno.plugin.zsh
Labels: Area: plugin, New: plugin, Topic: alias, Type: documentation

#9378 chore: fix "Facebook" typo in README.md
  README.md
Labels: Type: documentation

#7605 fix(kubectl): use `--current` flag in `kcn` alias
  plugins/kubectl/README.md
  plugins/kubectl/kubectl.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#9863 fix(deno): actually load deno completion
  plugins/deno/deno.plugin.zsh
Labels: Area: plugin
