Repository ohmyzsh/ohmyzsh, pull requests merged in 2021-10, with the labels that each got.

#10255 fix(pyenv): Fix brew installed pyenv-virtualenv.
  plugins/pyenv/pyenv.plugin.zsh
Labels: Area: plugin

#10234 feat(init): show error and process tree if OMZ is loaded from non-zsh shells
  oh-my-zsh.sh
Labels: Area: init

#9657 feat(git): run `gitk` in the background in `gk` and `gke` aliases
  plugins/git/README.md
  plugins/git/git.plugin.zsh
Labels: Plugin: git, Area: plugin, Topic: alias, Type: documentation

#10248 fix(docker-compose): support Compose V2 `docker compose` command
  plugins/docker-compose/docker-compose.plugin.zsh
Labels: Area: plugin, Topic: alias

#9219 feat(yarn): add `ylnf` alias to fix linting problems
  plugins/yarn/README.md
  plugins/yarn/yarn.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#9979 feat(mercurial): add `hg log` aliases
  plugins/mercurial/README.md
  plugins/mercurial/mercurial.plugin.zsh
Labels: Area: plugin, Topic: alias, Plugin: mercurial, Type: documentation

#9995 docs(python): update README to include new `py` alias
  plugins/python/README.md
Labels: Area: plugin, Type: documentation

#7059 fix(gpg-agent): correctly overwrite `$SSH_AUTH_SOCK` and other improvements
  plugins/gpg-agent/README.md
  plugins/gpg-agent/gpg-agent.plugin.zsh
Labels: Area: plugin, Status: testers needed, Type: documentation

#10210 chore(chucknorris): add a few more Chuck Norris quotes
  plugins/chucknorris/fortunes/chucknorris
Labels: Area: plugin

#10263 fix(git)!: rename `gdu` alias to `gdup`
  plugins/git/README.md
  plugins/git/git.plugin.zsh
Labels: Plugin: git, Area: plugin, Topic: alias, Type: documentation

#10267 feat(z): update z to latest version
  plugins/z/z.sh
Labels: Area: plugin

#10063 feat(sublime): add support for Sublime Text 4 on Windows
  plugins/sublime/sublime.plugin.zsh
Labels: Area: plugin
