Repository ohmyzsh/ohmyzsh, pull requests merged in 2021-11, with the labels that each got.

#10370 fix(lib): fix `1` alias to `cd` to directory 1 in stack
  lib/directories.zsh
Labels: Area: core, Topic: alias

#10295 feat(ys): increase color contrast with light color schemes
  themes/ys.zsh-theme
Labels: Area: theme

#10381 fix(command-not-found): pass arguments correctly in NixOS
  plugins/command-not-found/command-not-found.plugin.zsh
Labels: Area: plugin

#10341 refactor(osx): Rename osx plugin to macos
  README.md
  plugins/macos/README.md
  plugins/macos/_security
  plugins/macos/macos.plugin.zsh
  plugins/macos/music
  plugins/macos/osx.plugin.zsh
  plugins/macos/spotify
  plugins/osx
Labels: Area: plugin, Type: documentation, Topic: completion, New: plugin

#10391 style: use `-n` flag in `head` and `tail` commands
  lib/diagnostics.zsh
  lib/directories.zsh
  lib/functions.zsh
  lib/git.zsh
  plugins/scd/scd
  plugins/systemadmin/README.md
  plugins/systemadmin/systemadmin.plugin.zsh
  tools/install.sh
Labels: Area: plugin, Area: core, Topic: alias, Area: installer, Type: documentation

#10400 feat(refined): allow selecting git branch by changing prefix to `:`
  themes/refined.zsh-theme
Labels: Area: theme

#10403 fix(command-not-found): pass arguments correctly in Termux
  plugins/command-not-found/command-not-found.plugin.zsh
Labels: Area: plugin

#8927 feat(kn): add plugin for `kn` completion
  plugins/kn/README.md
  plugins/kn/kn.plugin.zsh
Labels: Area: plugin, Type: documentation, New: plugin

#10429 fix(docker-compose)!: check for old command instead of calling `docker`
  plugins/docker-compose/docker-compose.plugin.zsh
Labels: Area: plugin

#10318 fix(bgnotify): avoid permission prompts by checking frontmost app ID
  plugins/bgnotify/bgnotify.plugin.zsh
Labels: Area: plugin

#10430 fix(bundler): use BUNDLE_JOBS in `bi` to avoid config file change
  plugins/bundler/bundler.plugin.zsh
Labels: Area: plugin

#10443 fix(lib): don't error if `INSIDE_EMACS` is not defined
  lib/termsupport.zsh
Labels: Area: core

#10434 feat(xcode): support `.swiftpm` as project file in `xc`
  plugins/xcode/README.md
  plugins/xcode/xcode.plugin.zsh
Labels: Area: plugin, Type: documentation

#10435 Add .NET build alias
  plugins/dotnet/README.md
  plugins/dotnet/dotnet.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#10445 Add alias `grbom` for `git rebase origin/$(git_main_branch)`
  plugins/git/README.md
  plugins/git/git.plugin.zsh
Labels: Plugin: git, Area: plugin, Topic: alias, Type: documentation
