Repository ohmyzsh/ohmyzsh, pull requests merged in 2022-10, with the labels that each got.

#11191 feat(react-native): add aliases for 2021 and 2022 iOS devices
  plugins/react-native/README.md
  plugins/react-native/react-native.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#11211 chore(docs): fix some typos
  plugins/emoji/update_emoji.py
  plugins/lpass/_lpass
  plugins/ng/_ng
  plugins/pm2/_pm2
  plugins/salt/_salt
  plugins/swiftpm/_swift
  plugins/systemadmin/README.md
  plugins/terraform/_terraform
  tools/require_tool.sh
Labels: Area: plugin, Area: core, Type: documentation, Topic: completion

#11161 chore(lib): update deprecated grep aliases
  lib/grep.zsh
Labels: Area: core, Topic: alias

#11205 fix(nvm): source nvm script only when used
  plugins/nvm/README.md
  plugins/nvm/nvm.plugin.zsh
Labels: Area: plugin, Type: documentation

#11237 Fix incorrect link
  plugins/dnote/README.md
Labels: Area: plugin, Type: documentation

#11218 fix(cli): change unrecognized `\s` in BSD awk (#11146)
  lib/cli.zsh
Labels: Area: core

#11106 feat(web-search): add support for Brave search engine
  plugins/web-search/README.md
  plugins/web-search/web-search.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#11234 fix(git-auto-fetch): avoid password prompt with `GIT_TERMINAL_PROMPT=0`
  plugins/git-auto-fetch/git-auto-fetch.plugin.zsh
Labels: Area: plugin

#11167 fix(brew): do not source `brew shellenv` if already on path
  plugins/brew/README.md
  plugins/brew/brew.plugin.zsh
Labels: Area: plugin, Type: documentation

#11208 fix(debian)!: remove ar alias
  plugins/debian/README.md
  plugins/debian/debian.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#11236 feat(z): replace `rupa/z` with `agkozak/zsh-z`
  plugins/z/LICENSE
  plugins/z/MANUAL.md
  plugins/z/Makefile
  plugins/z/README
  plugins/z/README.md
  plugins/z/_z
  plugins/z/z.1
  plugins/z/z.plugin.zsh
  plugins/z/z.sh
Labels: Area: plugin, Topic: alias, Type: documentation, Topic: completion

#11271 fix(cli): avoid using `column`
  lib/cli.zsh
Labels: Area: core

#10710 feat(aliases): add basic argument parsing
  plugins/aliases/README.md
  plugins/aliases/cheatsheet.py
Labels: Area: plugin, Type: documentation

#11280 fix(pip): fix `pipupall` error with `freeze` format
  plugins/pip/pip.plugin.zsh
Labels: Area: plugin

#11222 fix(npm): ignore `rm` alias
  plugins/npm/npm.plugin.zsh
Labels: Area: plugin

#11289 Update asdf plugin outdated links and description
  plugins/asdf/README.md
Labels: Area: plugin, Type: documentation
