Repository ohmyzsh/ohmyzsh, pull requests merged in 2022-01, with the labels that each got.

#10570 docs(vi-mode): fix link typo in readme
  plugins/vi-mode/README.md
Labels: Area: plugin, Type: documentation

#10572 Fix svn_dirtry_choose echoing wrong input parameters
  plugins/svn/svn.plugin.zsh
Labels: Area: plugin

#10571 fix(rust): Fix cargo completion when Rust sysroot contains spaces
  plugins/rust/rust.plugin.zsh
Labels: Area: plugin

#10072 fix(avit): disable `log.showSignatures` in `_git_time_since_commit`
  themes/avit.zsh-theme
Labels: Area: theme

#10579 fix(yarn): update completion
  plugins/yarn/_yarn
Labels: Area: plugin, Topic: completion

#10586 fix(mvn): fix listing modules in completion
  plugins/mvn/mvn.plugin.zsh
Labels: Area: plugin

#10596 feat(sudo): respect `$SUDO_EDITOR` and `$VISUAL`, switch to `sudo -e`
  plugins/sudo/README.md
  plugins/sudo/sudo.plugin.zsh
Labels: Area: plugin, Type: documentation

#10432 feat(fig): add plugin for Fig
  plugins/fig/README.md
  plugins/fig/fig.plugin.zsh
Labels: Area: plugin, Status: testers needed, Type: documentation, New: plugin

#10130 feat(aws): accept aws mfa tokencode on `acp` cli call
  plugins/aws/README.md
  plugins/aws/aws.plugin.zsh
Labels: Area: plugin, Type: documentation

#10595 feat(poetry): add plugin to provide completion for Poetry
  plugins/poetry/README.md
  plugins/poetry/poetry.plugin.zsh
Labels: Area: plugin, Type: documentation, New: plugin

#10605 chore(poetry): remove unnecessary unset
  plugins/poetry/poetry.plugin.zsh
Labels: Area: plugin

#10582 feat(ys): show `svn` repository information
  themes/ys.zsh-theme
Labels: Area: theme

#8884 feat(1password): add plugin for 1password
  plugins/1password/1password.plugin.zsh
  plugins/1password/README.md
Labels: Area: plugin, Type: documentation, New: plugin

#10614 chore(1password): fix typo in `opswd`
  plugins/1password/README.md
Labels: Area: plugin, Type: documentation

#10618 feat(postgres): support Homebrew for Apple Silicon
  plugins/postgres/postgres.plugin.zsh
Labels: Area: plugin, Topic: alias

#10621 fix(installer): avoid `git clone -c` to support git v1.7.1
  tools/install.sh
Labels: Area: core, Area: installer

#9915 fix(ys): fix `$VIRTUAL_ENV` check if `nounset` is enabled
  themes/ys.zsh-theme
Labels: Area: theme

#6195 style(rkj-repos): change `white` to `default` to support light color schemes
  themes/rkj-repos.zsh-theme
Labels: Area: theme

#10633 fix(gitfast): update to git-completion 1.3.6
  plugins/gitfast/_git
  plugins/gitfast/git-completion.bash
  plugins/gitfast/git-prompt.sh
  plugins/gitfast/update
Labels: Area: plugin, Topic: completion

#10634 chore(1password): fix comments to follow code
  plugins/1password/1password.plugin.zsh
Labels: Area: plugin

#10601 style(init): use consistent code style in init script
  oh-my-zsh.sh
Labels: Area: init
