Repository ohmyzsh/ohmyzsh, pull requests merged in 2022-08, with the labels that each got.

#11082 fix(cli): make `omz` honour symlinks when changing `.zshrc`
  lib/cli.zsh
Labels: Area: core

#11053 Update debian.plugin.zsh
  plugins/debian/debian.plugin.zsh
Labels: Area: plugin

#11101 feat(git): alias `gluc` to sync with current branch in upstream
  plugins/git/README.md
  plugins/git/git.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#11105 feat(golang): add `gow` alias for `go work`
  plugins/golang/README.md
  plugins/golang/golang.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#11114 feat(gitfast): update to git-completion 1.3.7
  plugins/gitfast/git-completion.bash
  plugins/gitfast/git-prompt.sh
  plugins/gitfast/update
Labels: Area: plugin

#11115 refactor(gb)!: remove obsolete `gb` plugin
  plugins/gb/README.md
  plugins/gb/_gb
Labels: Area: plugin, Type: documentation, Topic: completion
