Repository ohmyzsh/ohmyzsh, pull requests merged in 2022-07, with the labels that each got.

#10874 feat(brew): add `brew shellenv` command at plugin load
  plugins/brew/README.md
  plugins/brew/brew.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#11018 chore(git): fix unintentional latex in documentation
  plugins/git/README.md
Labels: Area: plugin, Type: documentation

#11040 feat(aws): only disallow spaces for profile names
  plugins/aws/aws.plugin.zsh
Labels: Area: plugin

#11017 chore(lib): only create `afind` alias if `ack` is installed
  lib/misc.zsh
Labels: Area: core

#10921 fix(frontcube): fix escape of reset color sequence
  themes/frontcube.zsh-theme
Labels: Area: theme

#11062 feat(flutter): use up-to-date zsh completion
  plugins/flutter/_flutter
  plugins/flutter/flutter.plugin.zsh
Labels: Area: plugin, Topic: completion

#11068 fix(git-auto-fetch): don't override native `stat` command
  plugins/git-auto-fetch/git-auto-fetch.plugin.zsh
Labels: Area: plugin

#11078 docs(copybuffer): format shortcut and lighten text
  plugins/copybuffer/README.md
Labels: Area: plugin, Type: documentation
