Repository ohmyzsh/ohmyzsh, pull requests merged in 2022-06, with the labels that each got.

#10973 fix(oc): fix completion for oc 4.9 and 4.10
  plugins/oc/oc.plugin.zsh
Labels: Area: plugin

#10980 chore(kube-ps1): update to most recent version
  plugins/kube-ps1/README.md
  plugins/kube-ps1/kube-ps1.plugin.zsh
Labels: Area: plugin, Type: documentation

#10896 fix(github): deprecate the `git.io` command
  plugins/github/README.md
  plugins/github/github.plugin.zsh
Labels: Area: plugin, Type: documentation

#10918 Make the `toolbox` plugin more useful
  plugins/toolbox/README.md
  plugins/toolbox/toolbox.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#10992 fix(emacs): fix check for open frames w/ extra output
  plugins/emacs/emacsclient.sh
Labels: Area: plugin
