Repository ohmyzsh/ohmyzsh, pull requests merged in 2022-12, with the labels that each got.

#11362 feat(mvn): add completion for Vaadin
  plugins/mvn/mvn.plugin.zsh
Labels: Area: plugin

#11363 feat(nvm): add `silent-autoload` setting
  plugins/nvm/README.md
  plugins/nvm/nvm.plugin.zsh
Labels: Area: plugin, Type: documentation

#10997 fix(nvm): trim non-printable chars from .nvmrc
  plugins/nvm/nvm.plugin.zsh
Labels: Area: plugin

#11361 feat(helm): add aliases
  plugins/helm/README.md
  plugins/helm/helm.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#10946 fix(tmux): use `$...SESSION_NAME` while attaching
  plugins/tmux/tmux.plugin.zsh
Labels: Area: plugin

#10647 feat(pip): add several aliases
  plugins/pip/README.md
  plugins/pip/pip.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#7209 feat(agnoster): add remote-tracking status to prompt
  themes/agnoster.zsh-theme
Labels: Area: theme

#11381 docs(term_tab): rewrite README in markdown
  plugins/term_tab/README
  plugins/term_tab/README.md
Labels: Area: plugin, Type: documentation

#11385 docs(term_tab): plugin can only be used with linux and solaris
  plugins/term_tab/README.md
Labels: Area: plugin, Type: documentation

#11393 feat(docker): add `drs` alias
  plugins/docker/README.md
  plugins/docker/docker.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#10886 feat(watson): add completion
  plugins/watson/README.md
  plugins/watson/_watson
Labels: Area: plugin, Type: documentation, Topic: completion, New: plugin

#10235 Add alias for `docker-compose up -d --build`
  plugins/docker-compose/README.md
  plugins/docker-compose/docker-compose.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#11402 fix(doctl): standardize plugin completion
  plugins/doctl/doctl.plugin.zsh
Labels: Area: plugin

#11405 feat(maven): add `quarkus` command support
  plugins/mvn/mvn.plugin.zsh
Labels: Area: plugin

#11417 feat(systemd): add support for user units in prompt
  plugins/systemd/systemd.plugin.zsh
Labels: Area: plugin
