Repository ohmyzsh/ohmyzsh, pull requests merged in 2022-03, with the labels that each got.

#10749 feat(autoenv): add path for Apple Silicon Homebrew
  plugins/autoenv/autoenv.plugin.zsh
Labels: Area: plugin

#10753 fix(updater): prefix `cd` with `builtin` when it is aliased
  tools/check_for_upgrade.sh
Labels: Area: core, Area: updater

#10757 feat(fzf)!: default to using `fd` before `rg`
  plugins/fzf/README.md
  plugins/fzf/fzf.plugin.zsh
Labels: Area: plugin, Type: documentation

#9992 feat(kubectl): add aliases for job management
  plugins/kubectl/README.md
  plugins/kubectl/kubectl.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#10100 feat(kubectl): add aliases for replicasets
  plugins/kubectl/README.md
  plugins/kubectl/kubectl.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#10745 feat(rvm): add `rb31` shortcut to use ruby 3.1
  plugins/rvm/README.md
  plugins/rvm/rvm.plugin.zsh
Labels: Area: plugin, Type: documentation

#10768 fix(dash): fix "no application knows how to open URL" error
  plugins/dash/dash.plugin.zsh
Labels: Area: plugin

#10779 fix(updater): change remote using deprecated `git:` protocol
  tools/upgrade.sh
Labels: Area: core, Area: updater

#10667 feat(terraform): add alias `tfo` for terraform output
  plugins/terraform/README.md
  plugins/terraform/terraform.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#10769 fix(gpg-agent): suppress errors from `gpgconf`
  plugins/gpg-agent/gpg-agent.plugin.zsh
Labels: Area: plugin

#10685 feat(toolbox): add plugin to show `toolbox` prompt info
  plugins/toolbox/README.md
  plugins/toolbox/kubectx.plugin.zsh
Labels: Area: plugin, Type: documentation, New: plugin

#10794 feat(fzf): support `fzf` installed with MacPorts
  plugins/fzf/fzf.plugin.zsh
Labels: Platform: macOS, Area: plugin

#10616 chore: removing old completion code
  plugins/cargo/cargo.plugin.zsh
  plugins/deno/deno.plugin.zsh
  plugins/fnm/fnm.plugin.zsh
  plugins/gh/gh.plugin.zsh
  plugins/helm/helm.plugin.zsh
  plugins/kubectl/kubectl.plugin.zsh
  plugins/rbw/rbw.plugin.zsh
  plugins/rust/rust.plugin.zsh
  plugins/rustup/rustup.plugin.zsh
  plugins/volta/volta.plugin.zsh
Labels: Area: plugin, Status: blocked

#10804 fix(installer): exit install directory on setup
  tools/install.sh
Labels: Area: core, Area: installer

#10803 feat(charm): add plugin for `charm`
  plugins/charm/README.md
  plugins/charm/charm.plugin.zsh
Labels: Area: plugin, Type: documentation, New: plugin

#10806 docs(bazel): improve plugin README
  plugins/bazel/README.md
Labels: Area: plugin, Type: documentation

#10679 fix(cli): turn of `commit.gpgsign` compatibly with git v1.7.1
  lib/cli.zsh
Labels: Area: core
