Repository ohmyzsh/ohmyzsh, pull requests merged in 2023-04, with the labels that each got.

#11593 Fix Spotify for Developers URL in plugin docs
  plugins/macos/spotify
Labels: Area: plugin

#11596 feat(extract): always extract files into its own folder
  plugins/extract/extract.plugin.zsh
Labels: Area: plugin

#11599 Add support for detecting Contour terminal in title() function
  lib/termsupport.zsh
Labels: Area: core

#11391 feat(term_tab): add support for macOS
  plugins/term_tab/term_tab.plugin.zsh
Labels: Area: plugin

#11580 Add toolbox run (tbr) to Toolbox plugin
  plugins/toolbox/README.md
  plugins/toolbox/toolbox.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#11601 fix(jump): even spacing between marks
  plugins/jump/jump.plugin.zsh
Labels: Area: plugin

#11597 feat(archlinux): unify `upgrade` function
  plugins/archlinux/archlinux.plugin.zsh
Labels: Area: plugin, Topic: alias

#10937 feat(git): add merge squasch alias
  plugins/git/README.md
  plugins/git/git.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#11607 feat(archlinux): fix keyring update function
  plugins/archlinux/archlinux.plugin.zsh
Labels: Area: plugin

#11608 feat(archlinux): blend keyring update function
  plugins/archlinux/archlinux.plugin.zsh
Labels: Area: plugin

#11616 Add update alias to pipenv plugin.
  plugins/pipenv/README.md
  plugins/pipenv/pipenv.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#11378 feat(aws)!: improve `aws_change_access_key`
  plugins/aws/README.md
  plugins/aws/aws.plugin.zsh
Labels: Area: plugin, Type: documentation

#11619 feat(aws): allow more customisation in prompt function
  plugins/aws/README.md
  plugins/aws/aws.plugin.zsh
Labels: Area: plugin, Type: documentation

#11630 fix(dirhistory): run properly if `ksh_arrays` is set
  plugins/dirhistory/dirhistory.plugin.zsh
Labels: Area: plugin

#11629 fix(cli): execute as expected if `ksh_arrays` is set
  lib/cli.zsh
Labels: Area: core

#11627 feat(npm): add `npmrd` alias
  plugins/npm/README.md
  plugins/npm/npm.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#10947 feat(starship): create plugin
  .github/CODEOWNERS
  plugins/starship/README.md
  plugins/starship/starship.plugin.zsh
Labels: Area: plugin, Type: documentation, New: plugin

#11648 fix(azure): recognize properly linuxbrew
  plugins/azure/azure.plugin.zsh
Labels: Area: plugin
