Repository ohmyzsh/ohmyzsh, pull requests merged in 2023-08, with the labels that each got.

#11845 feat(terraform): add terraform version prompt
  plugins/terraform/README.md
  plugins/terraform/terraform.plugin.zsh
Labels: Area: plugin, Type: documentation

#11831 fix(colored-man-pages): add env GROFF_NO_SGR=1
  plugins/colored-man-pages/colored-man-pages.plugin.zsh
Labels: Area: plugin

#11851 refactor(init): rename variable
  oh-my-zsh.sh
Labels: Area: init

#11852 fix(extract): extraction to directory for single-file .gz
  plugins/extract/extract.plugin.zsh
Labels: Area: plugin

#9743 refactor(git): sort git aliases alphabetically
  plugins/git/README.md
  plugins/git/git.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#11855 fix(git): gbg / gbgd / gbgD not work under language other than English
  plugins/git/README.md
  plugins/git/git.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#11773 feat(alias-finder): add cheaper option and apply zstyle options
  plugins/alias-finder/.zunit.yml
  plugins/alias-finder/README.md
  plugins/alias-finder/alias-finder.plugin.zsh
  plugins/alias-finder/tests/_output/.gitkeep
  plugins/alias-finder/tests/_support/.gitkeep
  plugins/alias-finder/tests/_support/bootstrap
  plugins/alias-finder/tests/test_run.sh
Labels: Area: plugin, Topic: alias, Type: documentation

#11856 fix(updater): disable `nounset` to avoid warnings
  tools/upgrade.sh
Labels: Area: core, Area: updater

#11859 feat(bun): add plugin
  plugins/bun/README.md
  plugins/bun/bun.plugin.zsh
Labels: Area: plugin, Type: documentation, New: plugin

#11865 feat(web-search): add `youtube` alias
  plugins/web-search/web-search.plugin.zsh
Labels: Area: plugin, Topic: alias

#11868 fix(termsupport): match foot* extra shipped terminfo files
  lib/termsupport.zsh
Labels: Area: core
