Repository ohmyzsh/ohmyzsh, pull requests merged in 2023-09, with the labels that each got.

#11872 fix(battery-plugin): add support for OpenBSD
  plugins/battery/battery.plugin.zsh
Labels: Area: plugin

#11873 fix(extract): remove extraction file extension for tar
  plugins/extract/extract.plugin.zsh
Labels: Area: plugin

#11103 feat(tmux): allow all standard config files
  plugins/tmux/README.md
  plugins/tmux/tmux.plugin.zsh
Labels: Area: plugin, Type: documentation

#11813 feat(qodana): add completion plugin
  plugins/qodana/README.md
  plugins/qodana/qodana.plugin.zsh
Labels: Area: plugin, Type: documentation, New: plugin

#9646 feat(git-commit): create plugin
  plugins/git-commit/README.md
  plugins/git-commit/git-commit.plugin.zsh
Labels: Area: plugin, Type: documentation, New: plugin

#11874 fix(init): exit gracefully if on non-zsh emulation mode
  oh-my-zsh.sh
Labels: Area: init

#11695 feat(podman): add plugin
  plugins/podman/README.md
  plugins/podman/podman.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation, New: plugin

#11864 fix(git)!: remove `-b` from `blame` alias
  plugins/git/README.md
  plugins/git/git.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#11867 feat(gallois): big rewrite to `gallois` theme
  themes/gallois.zsh-theme
Labels: Area: theme

#11869 feat(git): add bisect aliases `gbsn` and `gbso`
  plugins/git/README.md
  plugins/git/git.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#11878 docs(git): align markdown table borders
  plugins/git/README.md
Labels: Area: plugin, Type: documentation

#11883 fix(git-commit): fix compatibility of alias functions
  plugins/git-commit/git-commit.plugin.zsh
Labels: Area: plugin

#11884 feat(mortalscumbag): show toolbox info
  themes/mortalscumbag.zsh-theme
Labels: Area: theme

#11534 feat(macos): update spotify plugin to upstream
  plugins/macos/spotify
Labels: Area: plugin

#11880 feat(oldgalois): add theme
  themes/oldgallois.zsh-theme
Labels: Area: theme, New: theme

#11847 feat(systemd): add alias for --failed commands
  plugins/systemd/README.md
  plugins/systemd/systemd.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#11901 fix(gcloud): source `path.zsh.inc` always
  plugins/gcloud/gcloud.plugin.zsh
Labels: Area: plugin

#11900 feat(hitchhiker): clean up refs to magic string
  plugins/hitchhiker/fortunes/hitchhiker
Labels: Area: plugin

#11069 feat(poetry-env): create plugin
  plugins/poetry-env/README.md
  plugins/poetry-env/poetry-env.plugin.zsh
Labels: Area: plugin, Type: documentation, New: plugin

#11904 feat(dnf): use `dnf5` if available
  plugins/dnf/README.md
  plugins/dnf/dnf.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#11895 docs(git): improve tables and language
  plugins/git/README.md
Labels: Area: plugin, Type: documentation

#11897 fix(git): remove `--text` from `gsts`
  plugins/git/README.md
  plugins/git/git.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#11909 feat(git): add branch rename alias `gbm`
  plugins/git/README.md
  plugins/git/git.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#11910 feat(git): add tag aliases `gt` and `gta`
  plugins/git/README.md
  plugins/git/git.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#11896 feat(git): add reset aliases `grhk` and `grhs`
  plugins/git/README.md
  plugins/git/git.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#11917 fix(gradle): exclude lookup for settings.gradle* files for `gradle` function
  plugins/gradle/gradle.plugin.zsh
Labels: Area: plugin

#11918 docs(gas): update gas plugin URL
  plugins/gas/README.md
Labels: Area: plugin, Type: documentation
