Repository ohmyzsh/ohmyzsh, pull requests merged in 2023-10, with the labels that each got.

#11927 fix(tmux): don't autostart inside background intelliJ
  plugins/tmux/tmux.plugin.zsh
Labels: Area: plugin

#11861 feat(vi-mode): copy to clipboard when using `vi-change*` and `vi-yank*` widgets
  plugins/vi-mode/README.md
  plugins/vi-mode/vi-mode.plugin.zsh
Labels: Area: plugin, Type: documentation

#11913 fix(ruby): add missing `-run` in `rserver` alias
  plugins/ruby/ruby.plugin.zsh
Labels: Area: plugin, Topic: alias

#11924 feat(shell-proxy): allow excluding endpoints with `NO_PROXY`
  plugins/shell-proxy/README.md
  plugins/shell-proxy/proxy.py
  plugins/shell-proxy/shell-proxy.plugin.zsh
Labels: Area: plugin, Type: documentation

#11932 Added rtx plugin (asdf replacement)
  plugins/rtx/README.md
  plugins/rtx/rtx.plugin.zsh
Labels: Area: plugin, Type: documentation, New: plugin

#11948 feat(git): delete squash-merged branches in `gbda`
  plugins/git/README.md
  plugins/git/git.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#9827 feat(kind): add plugin for Kind k8s tool
  plugins/kind/README.md
  plugins/kind/kind.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation, New: plugin

#11951 fix(git): restore showing patch in `gsts`
  plugins/git/README.md
  plugins/git/git.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#11955 fix(yarn): output completion entries in UTF-8
  plugins/yarn/_yarn
Labels: Area: plugin, Topic: completion

#11957 refactor(systemadmin): use `ss` instead of `netstat` when available
  plugins/systemadmin/systemadmin.plugin.zsh
Labels: Area: plugin, Topic: alias

#11956 chore: change headings in README to Title Case
  README.md
Labels: Type: documentation

#11958 fix typo
  plugins/aliases/README.md
Labels: Area: plugin, Type: documentation

#11960 chore(zsh-navigation-tools): fix typo
  plugins/zsh-navigation-tools/n-list
Labels: Area: plugin

#11961 chore(hitchhiker): fix typos
  plugins/hitchhiker/fortunes/hitchhiker
Labels: Area: plugin

#9357 Added snap plugin
  plugins/snap/README.md
  plugins/snap/snap.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation, New: plugin

#11131 fix(avit): `RPROMPT` Fix for #10307. Allows for Plugin Prompt customization
  themes/avit.zsh-theme
Labels: Area: theme

#11966 fix(git): fix fallback to develop branch if `master` not found
  plugins/git/git.plugin.zsh
Labels: Area: plugin

#11984 feat(bazel): use completion also for bazelisk
  plugins/bazel/_bazel
Labels: Area: plugin, Topic: completion

#11903 feat(vscode): allow arguments to `vsc` alias
  plugins/vscode/README.md
  plugins/vscode/vscode.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#11990 feat(history): add `hl` alias
  plugins/history/README.md
  plugins/history/history.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#11863 feat(kubectl): add `kgdsa` alias
  plugins/kubectl/kubectl.plugin.zsh
Labels: Area: plugin, Topic: alias

#11991 fix(git): move squash-merged branch deletion from `gbda` to `gbds` function
  plugins/git/README.md
  plugins/git/git.plugin.zsh
Labels: Area: plugin, Type: documentation

#11929 fix(ssh-agent): add error message if `~/.ssh` is not found
  plugins/ssh-agent/ssh-agent.plugin.zsh
Labels: Area: plugin

#11987 feat(tmux): add `tds` alias for directory sessions
  plugins/tmux/README.md
  plugins/tmux/tmux.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#12000 fix: Use "hook" instead of "export" in `direnv` plugin
  plugins/direnv/direnv.plugin.zsh
Labels: Area: plugin

#11998 fix(firewalld): remove ` (default)` from the end of zone string
  plugins/firewalld/firewalld.plugin.zsh
Labels: Area: plugin

#12006 feat(vi-mode): allow replacing on visual mode
  plugins/vi-mode/vi-mode.plugin.zsh
Labels: Area: plugin

#12001 feat(git-auto-fetch): fetch also submodules
  plugins/git-auto-fetch/git-auto-fetch.plugin.zsh
Labels: Area: plugin

#12012 feat(npm): add alias for `npm run build`
  plugins/npm/README.md
  plugins/npm/npm.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation
