Repository ohmyzsh/ohmyzsh, pull requests merged in 2023-11, with the labels that each got.

#12019 fix(wd): use `(( ))` instead of `[[ ]]`
  plugins/wd/wd.sh
Labels: Area: plugin

#12050 fix(grc): source grc.zsh on gentoo
  plugins/grc/grc.plugin.zsh
Labels: Area: plugin

#12037 feat(vi-mode): add option to disable clipboard
  plugins/vi-mode/README.md
  plugins/vi-mode/vi-mode.plugin.zsh
Labels: Area: plugin, Type: documentation

#12046 fix(juju): add `public-address` fallback to `jaddr`
  plugins/juju/juju.plugin.zsh
Labels: Area: plugin

#12045 feat(bgnotify): add support to wayland
  plugins/bgnotify/bgnotify.plugin.zsh
Labels: Area: plugin

#10872 fix(per-directory-history): print toggle message properly
  plugins/per-directory-history/per-directory-history.zsh
Labels: Area: plugin

#12055 feat(bgnotify): add icon parameter
  plugins/bgnotify/bgnotify.plugin.zsh
Labels: Area: plugin

#12057 docs(bgnotify): match README with current features
  plugins/bgnotify/README.md
Labels: Area: plugin, Type: documentation

#10603 feat(docker-compose): add `dclF` alias
  plugins/docker-compose/README.md
  plugins/docker-compose/docker-compose.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#12058 fix(robbyrussell): line wrapping for some systems
  themes/robbyrussell.zsh-theme
Labels: Area: theme

#12060 fix(misc): only set PAGER if `less` or `more` are available
  lib/misc.zsh
Labels: Area: core
