Repository ohmyzsh/ohmyzsh, pull requests merged in 2023-01, with the labels that each got.

#11422 fix(autojump): fix autojump sourcing in nix (-darwin)
  plugins/autojump/autojump.plugin.zsh
Labels: Area: plugin

#11425 fix(autojump): use sh file instead of zsh
  plugins/autojump/autojump.plugin.zsh
Labels: Area: plugin

#11424 feat(pipenv): standarize completion generation
  plugins/pipenv/pipenv.plugin.zsh
Labels: Area: plugin

#11431 feat(git): accept `default` and `mainline` as main branches
  plugins/git/git.plugin.zsh
Labels: Area: plugin

#10496 Adds plugin for Bridgetown
  plugins/bridgetown/README.md
  plugins/bridgetown/bridgetown.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation, New: plugin

#9623 Brew greedy upgrade aliases
  plugins/brew/README.md
  plugins/brew/brew.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#9073 heroku cli alias
  plugins/heroku-alias/README.md
  plugins/heroku-alias/heroku.alias.sh
Labels: Area: plugin, Type: documentation, New: plugin

#8799 Make prefix check on "jira branch" command case-insensitive
  plugins/jira/README.md
  plugins/jira/jira.plugin.zsh
Labels: Area: plugin, Type: documentation

#10931 refactor(jira)!: rename myissues to mine and add completion
  plugins/jira/README.md
  plugins/jira/_jira
  plugins/jira/jira.plugin.zsh
Labels: Area: plugin, Type: documentation, Topic: completion

#11121 feat: add optional jira plugin "tempo" path
  plugins/jira/README.md
  plugins/jira/jira.plugin.zsh
Labels: Area: plugin, Type: documentation

#9459 feat(jira): support rapid view on rapid board mode
  plugins/jira/README.md
  plugins/jira/jira.plugin.zsh
Labels: Area: plugin, Type: documentation

#11324 fix(macos): fix `man-preview` for macOS Ventura
  plugins/macos/macos.plugin.zsh
Labels: Bug, Area: plugin

#10247 feat(qrcode): new plugin to generate qrcode via https://qrcode.show
  plugins/qrcode/README.md
  plugins/qrcode/qrcode.plugin.zsh
Labels: Area: plugin, Type: documentation, New: plugin

#10773 feat(yarn): add alias for `yarn why`
  plugins/yarn/README.md
  plugins/yarn/yarn.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#11315 fix(lib/termsupport): Add carriage return after changing window/tab titles (#11314)
  lib/termsupport.zsh
Labels: Area: core

#11436 docs(qrsvg): fix command example
  plugins/qrcode/README.md
Labels: Area: plugin, Type: documentation

#11196 feat(aws): load profiles from credentials file
  plugins/aws/aws.plugin.zsh
Labels: Area: plugin

#11440 fix(clipboard): `uname` seems to be slow in wsl2
  lib/clipboard.zsh
Labels: Area: core

#11435 feat(extract): add `pbzip2` and `pixz`
  plugins/extract/extract.plugin.zsh
Labels: Area: plugin

#11446 feat(functions/take): make `.tgz` behave as `.tar.gz`
  lib/functions.zsh
Labels: Area: core

#11122 perf(fzf): speed up startup on debian
  plugins/fzf/fzf.plugin.zsh
Labels: Area: plugin

#11451 feat(mlh): add separate prompt symbol for root user
  themes/mlh.zsh-theme
Labels: Area: theme

#11456 fix(theme-and-appearance): fix `diff` completion in macOS
  lib/theme-and-appearance.zsh
Labels: Area: core, Topic: alias

#11458 fix(systemadmin): handle error for no IPv6 route in `geteip`
  plugins/systemadmin/systemadmin.plugin.zsh
Labels: Area: plugin

#11268 feat(git): add `gpsupf` alias
  plugins/git/README.md
  plugins/git/git.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#10622 Respect `$ZDOTDIR` in installer and uninstaller
  tools/install.sh
Labels: Area: core, Area: installer
