Repository ohmyzsh/ohmyzsh, pull requests merged in 2023-12, with the labels that each got.

#12079 docs: document the off-github installation URL
  README.md
Labels: Type: documentation

#12077 feat(bgnotify): add option to disable terminal bell
  plugins/bgnotify/README.md
  plugins/bgnotify/bgnotify.plugin.zsh
Labels: Area: plugin, Type: documentation

#12076 fix(lib): patch `omz_urlencode` to not encode UTF-8 chars in Termux
  lib/functions.zsh
Labels: Area: core

#12066 Adding in nextjs search functionality. And add in DDG lucky feature.
  plugins/frontend-search/README.md
  plugins/frontend-search/frontend-search.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#12028 feat(dotnet): update completion script
  plugins/dotnet/dotnet.plugin.zsh
Labels: Area: plugin

#12108 fix(rake-fast): make `.rake_tasks` write atomic
  plugins/rake-fast/rake-fast.plugin.zsh
Labels: Area: plugin

#12096 fix(changelog): use longer hashes for commits
  tools/changelog.sh
Labels: Area: core

#12111 fix(bgnotify): make it work with `set -e`
  plugins/bgnotify/bgnotify.plugin.zsh
Labels: Area: plugin

#12114 feat(react-native): add aliases for iPhone 15
  plugins/react-native/README.md
  plugins/react-native/react-native.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#11433 fix(bgnotify): don't require accessibility perms in macos
  plugins/bgnotify/bgnotify.plugin.zsh
Labels: Area: plugin

#12113 feat(aws): add sso logout capabilities
  plugins/aws/README.md
  plugins/aws/aws.plugin.zsh
Labels: Area: plugin, Type: documentation

#12090 feat(aws): add support for sso sessions login
  plugins/aws/README.md
  plugins/aws/aws.plugin.zsh
Labels: Area: plugin, Type: documentation

#12116 feat(git): add `gcB` alias
  plugins/git/README.md
  plugins/git/git.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#12140 fix(clipboard): remove clippaste additional newline on wayland
  lib/clipboard.zsh
Labels: Area: core
