Repository ohmyzsh/ohmyzsh, pull requests merged in 2023-06, with the labels that each got.

#11724 feat(autoenv): macOS compatibility, add more dirs
  plugins/autoenv/autoenv.plugin.zsh
Labels: Area: plugin

#11725 feat(git): add `gunwipall` function
  plugins/git/README.md
  plugins/git/git.plugin.zsh
Labels: Area: plugin, Type: documentation

#11703 fix(termsupport): don't report current working directory in SSH sessions
  lib/termsupport.zsh
Labels: Area: core

#11739 feat(rails): add some aliases
  plugins/rails/README.md
  plugins/rails/rails.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#11758 fix(git): `gunwipall` now only resets once
  plugins/git/README.md
  plugins/git/git.plugin.zsh
Labels: Area: plugin, Type: documentation

#11764 perf(archlinux): improve `paclist` performance
  plugins/archlinux/archlinux.plugin.zsh
Labels: Area: plugin

#11766 Fix (docker plugin): use `command docker` to bypass aliases
  plugins/docker/docker.plugin.zsh
Labels: Area: plugin

#11772 fix(gcloud): add support for `brew` installations
  plugins/gcloud/gcloud.plugin.zsh
Labels: Area: plugin

#11776 docs(git-extras): clarify readme
  plugins/git-extras/README.md
Labels: Area: plugin, Type: documentation

#11770 fix(git): remove color codes from some aliases
  plugins/git/README.md
  plugins/git/git.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#11782 fix(jira): support identifiers delimited with a hyphen
  plugins/jira/jira.plugin.zsh
Labels: Area: plugin
