Repository ohmyzsh/ohmyzsh, pull requests merged in 2023-03, with the labels that each got.

#11533 feat(rvm): add `rb32` alias
  plugins/rvm/README.md
  plugins/rvm/rvm.plugin.zsh
Labels: Area: plugin, Type: documentation

#11535 docs(brew): remove twice written alias from documentation
  plugins/brew/README.md
Labels: Area: plugin, Type: documentation

#11532 fix(lib): use `$BROWSER` in `open_command` if set
  lib/functions.zsh
Labels: Area: core

#11529 refactor(theme-and-appearance): reorganize and clean up logic
  lib/theme-and-appearance.zsh
Labels: Area: core, Topic: alias

#11546 fix(aliases): correct grouping of aliases by `acs`
  plugins/aliases/cheatsheet.py
Labels: Area: plugin

#10062 feat(aws): add AWS_REGION to aws_prompt_info
  plugins/aws/README.md
  plugins/aws/aws.plugin.zsh
Labels: Area: plugin, Type: documentation

#11548 docs(vi-mode): document how to add vi-mode info on the prompt
  plugins/vi-mode/README.md
Labels: Area: plugin, Type: documentation

#11553 feat(rails): add `rta` alias
  plugins/rails/README.md
  plugins/rails/rails.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#11569 feat(gnu-utils): add `gindent`
  plugins/gnu-utils/gnu-utils.plugin.zsh
Labels: Area: plugin

#11572 feat(juju): add functions to get current controller and model
  plugins/juju/README.md
  plugins/juju/juju.plugin.zsh
Labels: Area: plugin, Type: documentation

#10357 Fix: abort uninstall when unable to change shell
  tools/uninstall.sh
Labels: Area: core, Area: uninstaller

#11591 fix(installer): don't use `sudo` when user is in Termux
  tools/install.sh
Labels: Area: core, Area: installer

#11578 feat(changelog): provide links in changelog
  tools/changelog.sh
Labels: Area: core

#11547 fix(vi-mode): fix check for prompt redisplay on mode change
  plugins/vi-mode/vi-mode.plugin.zsh
Labels: Area: plugin
