Repository ohmyzsh/ohmyzsh, pull requests merged in 2024-02, with the labels that each got.

#12188 feat(git-commit): add `wip` kind
  plugins/git-commit/README.md
  plugins/git-commit/git-commit.plugin.zsh
Labels: Area: plugin, Type: documentation

#12176 feat(git): add `grf` alias
  plugins/git/README.md
  plugins/git/git.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#12018 feat(aws): implement permanent state
  plugins/aws/README.md
  plugins/aws/aws.plugin.zsh
Labels: Area: plugin, Type: documentation

#12064 feat(stripe): add completion plugin
  plugins/stripe/README.md
  plugins/stripe/stripe.plugin.zsh
Labels: Area: plugin, Type: documentation, New: plugin

#12191 fix(kubectx): k8s contexts with spaces
  plugins/kubectx/kubectx.plugin.zsh
Labels: Area: plugin

#12192 chore(brew): remove duplicated alias
  plugins/brew/brew.plugin.zsh
Labels: Area: plugin, Topic: alias

#12195 fix: Quote ruby prompt
  lib/prompt_info_functions.zsh
Labels: Area: core

#12194 fix(sublime): pass user's env to `sst`
  plugins/sublime/sublime.plugin.zsh
Labels: Area: plugin

#12199 feat(web-search): add programming packages search
  plugins/web-search/README.md
  plugins/web-search/web-search.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#12206 style(completion): remove extra space
  lib/completion.zsh
Labels: Area: core

#8437 feat(bira): add support for `kube-ps1` prompt
  themes/bira.zsh-theme
Labels: Area: theme

#12216 docs(kubectx): add quoting to array keys
  plugins/kubectx/README.md
Labels: Area: plugin, Type: documentation

#12218 feat(zoxide): add option to override cmd
  plugins/zoxide/README.md
  plugins/zoxide/zoxide.plugin.zsh
Labels: Area: plugin, Type: documentation

#12224 fix(docker): support completion on snap installs
  plugins/docker/docker.plugin.zsh
Labels: Area: plugin

#12242 feat(tmux): add option for detached mode
  plugins/tmux/README.md
  plugins/tmux/tmux.plugin.zsh
Labels: Area: plugin, Type: documentation

#12243 feat(tmux): prioritize `tmux` terminfo
  plugins/tmux/README.md
  plugins/tmux/tmux.plugin.zsh
Labels: Area: plugin, Type: documentation

#12237 feat(eza): create plugin
  .github/CODEOWNERS
  plugins/eza/README.md
  plugins/eza/eza.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation, New: plugin

#12232 fix(tmux): do not pass empty flags to aliases
  plugins/tmux/tmux.plugin.zsh
Labels: Area: plugin, Topic: alias

#12227 fix(ssh): allow multiple definitions per host
  plugins/ssh/ssh.plugin.zsh
Labels: Area: plugin

#12208 feat(kube-ps1): add symlink support
  plugins/kube-ps1/README.md
  plugins/kube-ps1/kube-ps1.plugin.zsh
Labels: Area: plugin, Type: documentation
