Repository ohmyzsh/ohmyzsh, pull requests merged in 2024-08, with the labels that each got.

#12558 feat(git): fetch tags in `gfa` alias
  plugins/git/README.md
  plugins/git/git.plugin.zsh
Labels: Area: plugin, Type: documentation

#12592 docs(brew): remove reference to bubc
  plugins/brew/README.md
Labels: Area: plugin, Type: documentation

#12522 feat(arduino-cli): add completion plugin
  plugins/arduino-cli/README.md
  plugins/arduino-cli/arduino-cli.plugin.zsh
Labels: Area: plugin, Type: documentation, New: plugin

#12520 feat(docker): add image prune alias
  plugins/docker/README.md
  plugins/docker/docker.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#12594 feat(toolbox): add function to show toolbox name
  plugins/toolbox/README.md
  plugins/toolbox/toolbox.plugin.zsh
Labels: Area: plugin, Type: documentation

#12596 duplicate(brew): alias bup='brew upgrade'
  plugins/brew/brew.plugin.zsh
Labels: Area: plugin, Topic: alias

#11038 fix(colorize): support args when input is stdin
  plugins/colorize/colorize.plugin.zsh
Labels: Area: plugin

#12608 fix(catimg): add support to `magick` binary
  plugins/catimg/README.md
  plugins/catimg/catimg.plugin.zsh
  plugins/catimg/catimg.sh
Labels: Area: plugin, Type: documentation

#10169 feat(git)!: ask for confirmation in `gpf` alias
  plugins/git/README.md
  plugins/git/git.plugin.zsh
Labels: Area: plugin, Status: testers needed, Topic: alias, Type: documentation, Discussion

#11428 feat(git): add `gmff`, `gprum(i)`, `grbum` aliases to work with `upstream` remotes
  plugins/git/README.md
  plugins/git/git.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#10963 feat(mix): add mix plugin test.watch
  plugins/mix/README.md
  plugins/mix/_mix
Labels: Area: plugin, Type: documentation, Topic: completion

#12639 fix(grep): remove duplicate options
  lib/grep.zsh
Labels: Area: core, Topic: alias

#12523 feat(tailscale): new tailscale plugin
  plugins/tailscale/README.md
  plugins/tailscale/tailscale.plugin.zsh
Labels: Area: plugin, Type: documentation, New: plugin

#12643 feat(extract): add support for .vsix files (VS Code extension)
  plugins/extract/README.md
  plugins/extract/extract.plugin.zsh
Labels: Area: plugin, Type: documentation
