Repository ohmyzsh/ohmyzsh, pull requests merged in 2024-03, with the labels that each got.

#12249 fix(tmux): use the offset parameter when extracting the first letter
  plugins/tmux/tmux.plugin.zsh
Labels: Area: plugin

#12252 feat(terraform): update completion to `v1.7`
  plugins/terraform/_terraform
Labels: Area: plugin, Topic: completion

#12248 feat(python): add auto venv activation
  plugins/python/README.md
  plugins/python/python.plugin.zsh
Labels: Area: plugin, Type: documentation

#12254 fix(terraform): pass -chdir to completion commands
  plugins/terraform/_terraform
Labels: Area: plugin, Topic: completion

#12256 fix(terraform): fix completion repeating flags with value
  plugins/terraform/_terraform
Labels: Area: plugin, Topic: completion

#12262 chore(gitfast): remove update script
  .github/dependencies.yml
  plugins/gitfast/README.md
  plugins/gitfast/gitfast.plugin.zsh
  plugins/gitfast/update
Labels: Area: plugin, Type: documentation

#12258 feat(tools): update `supports_hyperlinks`
  tools/changelog.sh
  tools/install.sh
  tools/upgrade.sh
Labels: Area: core, Area: installer, Area: updater

#12257 feat(async)!: implement async prompt API and apply to git prompt
  lib/async_prompt.zsh
  lib/git.zsh
Labels: Area: core

#12274 fix(fzf): add default fzf_base dir when on Windows MSYS2 System
  plugins/fzf/fzf.plugin.zsh
Labels: Area: plugin

#12236 docs(readme): add contributor list
  README.md
Labels: Type: documentation

#12280 feat(extract): prefer using `pbzip2` instead of `bunzip2`
  plugins/extract/extract.plugin.zsh
Labels: Area: plugin

#12283 docs(pyenv): fix typo
  plugins/pyenv/README.md
Labels: Area: plugin, Type: documentation

#12284 docs: fix typos
  lib/cli.zsh
  plugins/catimg/README.md
  plugins/emacs/README.md
  plugins/emacs/emacs.plugin.zsh
  plugins/ipfs/_ipfs
  plugins/nomad/_nomad
  plugins/per-directory-history/per-directory-history.zsh
  plugins/ssh-agent/README.md
Labels: Area: plugin, Area: core, Type: documentation, Topic: completion

#12288 fix(docker-compose): completion regression
  plugins/docker-compose/_docker-compose
Labels: Area: plugin, Topic: completion

#12294 fix(mise): update environment when loading the plugin
  plugins/mise/mise.plugin.zsh
Labels: Area: plugin

#12297 fix(ssh-agent): don't start new agent if screen/tmux symlink exists
  plugins/ssh-agent/ssh-agent.plugin.zsh
Labels: Area: plugin

#12293 feat(jira): add help/usage cmd
  plugins/jira/README.md
  plugins/jira/_jira
  plugins/jira/jira.plugin.zsh
Labels: Area: plugin, Type: documentation, Topic: completion

#12299 feat(terraform): add `tft` (`terraform test`)
  plugins/terraform/README.md
  plugins/terraform/terraform.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#12309 fix(starship)!: keep `ZSH_THEME` when Starship is not found
  plugins/starship/starship.plugin.zsh
Labels: Area: plugin

#12308 fix: add gcloud homebrew installation path
  plugins/gcloud/gcloud.plugin.zsh
Labels: Area: plugin
