Repository ohmyzsh/ohmyzsh, pull requests merged in 2024-05, with the labels that each got.

#12389 feat(autojump): add `nix-darwin` install path
  plugins/autojump/autojump.plugin.zsh
Labels: Area: plugin

#12392 feat(termsupport): support `alacritty*` TERM
  lib/termsupport.zsh
Labels: Area: core

#12395 fix(extract): `zst` now extracts as expected
  plugins/extract/extract.plugin.zsh
Labels: Area: plugin

#12396 feat(python): autovenv keeps activated on subdirs
  plugins/python/README.md
  plugins/python/python.plugin.zsh
Labels: Area: plugin, Type: documentation

#12401 fix(cli): fix disabling plugins by accident in `omz plugin disable`
  lib/cli.zsh
  lib/tests/cli.test.zsh
Labels: Area: core

#12405 feat(dependencies): add `wd`
  .github/dependencies.yml
Labels: Type: documentation

#12409 fix(nvm): use `nvm version` when needed
  plugins/nvm/nvm.plugin.zsh
Labels: Area: plugin

#12410 fix(nvm): use `command cat` to avoid alias
  plugins/nvm/nvm.plugin.zsh
Labels: Area: plugin

#12406 feat(procs): add completions plugin
  plugins/procs/README.md
  plugins/procs/procs.plugin.zsh
Labels: Area: plugin, Type: documentation, New: plugin

#12397 fix(git): add checked-out branch support to `gbg*`
  plugins/git/README.md
  plugins/git/git.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#12421 feat(fzf): add support for Fedora package
  plugins/fzf/fzf.plugin.zsh
Labels: Area: plugin

#12423 feat(amuse): add whitespace before virtualenv
  themes/amuse.zsh-theme
Labels: Area: theme

#12434 feat(agnoster): add `anaconda` env information
  themes/agnoster.zsh-theme
Labels: Area: theme

#12429 feat(tldr): add tldr plugin
  plugins/tldr/README.md
  plugins/tldr/tldr.plugin.zsh
Labels: Area: plugin, Topic: bindkey, Type: documentation, New: plugin

#12437 chore(agnoster): typo
  themes/agnoster.zsh-theme
Labels: Area: theme

#12354 feat(laravel): add aliases laravel 11
  plugins/laravel/README.md
  plugins/laravel/laravel.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#12447 feat(git): support `stable` in `git_main_branch`
  plugins/git/git.plugin.zsh
Labels: Area: plugin

#12451 Add Support for Tabby Terminal in Macos Plugin
  plugins/macos/README.md
  plugins/macos/macos.plugin.zsh
Labels: Area: plugin, Type: documentation

#10994 A plugin for the Kitty terminal
  plugins/kitty/README.md
  plugins/kitty/kitty.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation, New: plugin

#12464 fix(pass): completion for multiple repositories
  plugins/pass/_pass
Labels: Area: plugin, Topic: completion

#12374 feat(yarn)!: add optional support for yarn berry
  plugins/yarn/README.md
  plugins/yarn/yarn.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation
