Repository ohmyzsh/ohmyzsh, pull requests merged in 2024-09, with the labels that each got.

#12647 Fix some typos
  plugins/bedtools/_bedtools
  plugins/brew/brew.plugin.zsh
  plugins/docker/docker.plugin.zsh
  plugins/emoji/update_emoji.py
  plugins/gem/gem.plugin.zsh
  plugins/history-substring-search/history-substring-search.zsh
  plugins/hitchhiker/fortunes/hitchhiker
  plugins/lpass/_lpass
  plugins/python/python.plugin.zsh
  plugins/rails/_rails
  plugins/swiftpm/_swift
  plugins/zsh-navigation-tools/README.md
  plugins/zsh-navigation-tools/doc/n-preview
Labels: Area: plugin, Type: documentation, Topic: completion

#12651 Revert "fix(awesomepanda): new line wrap"
  themes/awesomepanda.zsh-theme
Labels: Area: theme

#12652 feat(extract): add support for `.crx` (Chrome extension format)
  plugins/extract/_extract
  plugins/extract/extract.plugin.zsh
Labels: Area: plugin, Topic: completion

#12595 feat(localstack): add plugin
  plugins/localstack/README.md
  plugins/localstack/localstack.plugin.zsh
  plugins/localstack/sqs-send-result.png
Labels: Area: plugin, Type: documentation, New: plugin

#12637 feat(terraform): add `fmt -recursive` alias
  plugins/opentofu/README.md
  plugins/opentofu/opentofu.plugin.zsh
  plugins/terraform/README.md
  plugins/terraform/terraform.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#12612 feat(kubectl): show labels in aliases `kgpsl` (get pod) and `kgnosl` (get node)
  plugins/kubectl/README.md
  plugins/kubectl/kubectl.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#12663 feat(ssh-agent): support `id_ed25519_sk`
  plugins/ssh-agent/ssh-agent.plugin.zsh
Labels: Area: plugin

#12660 feat(web-search): add chatgpt
  plugins/web-search/README.md
  plugins/web-search/web-search.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#12674 fix(git): update prefix map for modified files
  lib/git.zsh
Labels: Area: core

#12679 feat(bgnotify): add config to pass extra args
  plugins/bgnotify/README.md
  plugins/bgnotify/bgnotify.plugin.zsh
Labels: Area: plugin, Type: documentation

#12670 feat(functions): add `takezip`
  lib/functions.zsh
Labels: Area: core

#12658 feat (terraform): add `apply -auto-approve` alias
  plugins/terraform/README.md
  plugins/terraform/terraform.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#12666 feat(gnzh): add virtualenv prompt
  themes/gnzh.zsh-theme
Labels: Area: theme

#12664 feat(web-search): add `reddit`
  plugins/web-search/README.md
  plugins/web-search/web-search.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#12697 feat(systemadmin): add `ping6` alias with count limit
  plugins/systemadmin/README.md
  plugins/systemadmin/systemadmin.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#12695 fix(ssh-agent): use termux prefix for tmp
  plugins/ssh-agent/ssh-agent.plugin.zsh
Labels: Area: plugin

#12696 feat(chezmoi): add completion plugin
  plugins/chezmoi/README.md
  plugins/chezmoi/chezmoi.plugin.zsh
Labels: Area: plugin, Type: documentation, New: plugin
