Repository ohmyzsh/ohmyzsh, pull requests merged in 2024-11, with the labels that each got.

#12791 feat(autojump): add `termux` install path
  plugins/autojump/autojump.plugin.zsh
Labels: Area: plugin

#12804 fix(poetry-env): switch venv between poetry dirs
  plugins/poetry-env/poetry-env.plugin.zsh
Labels: Area: plugin

#12738 feat(pyenv): add prompt customization
  plugins/pyenv/README.md
  plugins/pyenv/pyenv.plugin.zsh
Labels: Area: plugin, Type: documentation

#12726 fix(tailscale): load completion when `tailscale` is an alias
  plugins/tailscale/tailscale.plugin.zsh
Labels: Area: plugin

#12753 feat(vault): re-introduce vault plugin
  plugins/vault/README.md
  plugins/vault/vault.plugin.zsh
Labels: Area: plugin, Type: documentation, New: plugin

#12813 fix(pipenv): fix auto-shell functionality when cd-ing out
  plugins/pipenv/pipenv.plugin.zsh
Labels: Area: plugin

#12802 feat(timoni): add completion plugin
  plugins/timoni/README.md
  plugins/timoni/timoni.plugin.zsh
Labels: Area: plugin, Type: documentation, New: plugin

#12797 feat(bazel): add bzlmod integrity gen function
  plugins/bazel/README.md
  plugins/bazel/bazel.plugin.zsh
Labels: Area: plugin, Type: documentation

#12793 feat(laravel): add alias for `optimize:clear`
  plugins/laravel/README.md
  plugins/laravel/laravel.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#12818 chore: fix some typos
  lib/misc.zsh
  plugins/macports/README.md
  plugins/opentofu/README.md
Labels: Area: plugin, Area: core, Type: documentation

#12826 feat(ngrok): add completion plugin
  plugins/ngrok/README.md
  plugins/ngrok/ngrok.plugin.zsh
Labels: Area: plugin, Type: documentation, New: plugin
