Repository ohmyzsh/ohmyzsh, pull requests merged in 2024-07, with the labels that each got.

#12533 fix(bun): set `SHELL` when generating completions
  plugins/bun/bun.plugin.zsh
Labels: Area: plugin

#12532 docs: rename twitter to X, fix link
  README.md
  tools/upgrade.sh
Labels: Area: core, Type: documentation, Area: updater

#12530 docs(command-not-found): mention gentoo support
  plugins/command-not-found/README.md
Labels: Area: plugin, Type: documentation

#12528 feat(battery): support custom AC indicator
  plugins/battery/README.md
  plugins/battery/battery.plugin.zsh
Labels: Area: plugin, Type: documentation

#12545 feat(eza): add hyperlink option
  plugins/eza/README.md
  plugins/eza/eza.plugin.zsh
Labels: Area: plugin, Type: documentation

#12550 Simplify Pygmalion Theme
  themes/pygmalion.zsh-theme
Labels: Area: theme

#12285 feat: Add plugin for OpenTofu
  plugins/opentofu/README.md
  plugins/opentofu/opentofu.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation, New: plugin

#12555 fix(docker-compose): fix test for `docker-compose` executable
  plugins/docker-compose/docker-compose.plugin.zsh
Labels: Area: plugin

#10619 feat(conda-env): add plugin for conda prompt display
  lib/prompt_info_functions.zsh
  plugins/conda-env/README.md
  plugins/conda-env/conda-env.plugin.zsh
Labels: Area: plugin, Area: core, Type: documentation, New: plugin

#12561 docs(eza): fix variable name to enable hyperlink flag
  plugins/eza/README.md
Labels: Area: plugin, Type: documentation

#12566 fix(kubectl): fix kubectl completion for `kj`, `kjx` and `ky` aliases
  plugins/kubectl/kubectl.plugin.zsh
Labels: Area: plugin

#12291 feat(dircycle): add bindings to go up or down in hierarchy
  plugins/dircycle/README.md
  plugins/dircycle/dircycle.plugin.zsh
Labels: Area: plugin, Topic: bindkey, Type: documentation
