Repository ohmyzsh/ohmyzsh, pull requests merged in 2024-04, with the labels that each got.

#12314 Added https httpie command to completion sources
  plugins/httpie/_httpie
Labels: Area: plugin, Topic: completion

#12304 fix(async): avoid blocking the shell while waiting
  lib/async_prompt.zsh
Labels: Area: core

#12318 perf(async): avoid executing true
  lib/async_prompt.zsh
Labels: Area: core

#12329 autojump plugin: fix for 'pkgsrc' installation path on macOS
  plugins/autojump/autojump.plugin.zsh
Labels: Area: plugin

#10922 Update README for git-prompt to clarify how to use
  plugins/git-prompt/README.md
Labels: Area: plugin, Type: documentation

#12302 Introduce `gwipe` alias
  plugins/git/git.plugin.zsh
Labels: Area: plugin, Topic: alias

#12310 feat(laravel): add `artisan test` alias (`pats`)
  plugins/laravel/README.md
  plugins/laravel/laravel.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#12326 feat(git): add alias `gmc` for `git merge --continue`
  plugins/git/README.md
  plugins/git/git.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#12338 fix(history)!: fix arg passing to `fc` for `history` command
  lib/history.zsh
Labels: Area: core

#12339 docs: fix typo
  README.md
Labels: Type: documentation

#12341 Reverting to old behaviour when running just `history`
  lib/history.zsh
Labels: Area: core

#12340 fix(shell-proxy): support ssh-proxy using http proxy in cygwin
  plugins/shell-proxy/ssh-proxy.py
Labels: Area: plugin

#12347 fix(yarn): use `builtin cd` in completion
  plugins/yarn/_yarn
Labels: Area: plugin, Topic: completion

#12346 feat(poetry-env): support changing between two venv dirs
  plugins/poetry-env/poetry-env.plugin.zsh
Labels: Area: plugin

#12351 feat(tmux): sessions named as current dir
  plugins/tmux/README.md
  plugins/tmux/tmux.plugin.zsh
Labels: Area: plugin, Type: documentation

#12357 fix(history): fix edge cases introduced in #12341
  lib/history.zsh
Labels: Area: core

#12365 Add `t` option to omz_history function
  lib/history.zsh
Labels: Area: core

#12371 fix(ssh-agent): add identity only if identity exists
  plugins/ssh-agent/ssh-agent.plugin.zsh
Labels: Area: plugin

#12369 feat(fishy): add color to username
  themes/fishy.zsh-theme
Labels: Area: theme
