Repository ohmyzsh/ohmyzsh, pull requests merged in 2025-03, with the labels that each got.

#12292 feat(jj): add jujutsu plugin
  plugins/jj/README.md
  plugins/jj/jj.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation, New: plugin

#13003 feat(jj): enable dynamic completion
  plugins/jj/jj.plugin.zsh
Labels: Area: plugin

#13010 Fix #13009 conda plugin -all not --all
  plugins/conda/conda.plugin.zsh
Labels: Area: plugin, Topic: alias

#13021 fix(rand-qoute): Fix url for plugin (now uses strict https)
  plugins/rand-quote/rand-quote.plugin.zsh
Labels: Area: plugin

#13012 Completions for mix format
  plugins/mix/_mix
Labels: Area: plugin, Topic: completion

#12859 Make the customizable parameters in nicoulaj truly customizable
  themes/nicoulaj.zsh-theme
Labels: Area: theme

#12851 Add option to open jira project
  plugins/jira/README.md
  plugins/jira/_jira
  plugins/jira/jira.plugin.zsh
Labels: Area: plugin, Type: documentation, Topic: completion

#12866 feat(uv): add uv='noglob uv' alias
  plugins/uv/uv.plugin.zsh
Labels: Area: plugin, Topic: alias

#12868 feat(dirhistory) add support for ghostty terminal
  plugins/dirhistory/dirhistory.plugin.zsh
Labels: Area: plugin

#5282 Make tmux plugin refresh tmux global environments automatically.
  plugins/tmux/tmux.plugin.zsh
Labels: Area: plugin, Status: testers needed

#12890 feat(macos): add support for Ghostty terminal
  plugins/macos/README.md
  plugins/macos/macos.plugin.zsh
Labels: Area: plugin, Type: documentation

#12989 fix(bgnotify): detect if sway is running and not just installed
  plugins/bgnotify/bgnotify.plugin.zsh
Labels: Area: plugin

#13034 fix(tmux): disable AUTOREFRESH by default
  plugins/tmux/README.md
  plugins/tmux/tmux.plugin.zsh
Labels: Area: plugin, Type: documentation

#13030 fix(alias-finder): Return early on very short command (1-length)
  plugins/alias-finder/alias-finder.plugin.zsh
Labels: Area: plugin

#13024 docs(docker): Add guide for Podman's Docker wrapper users
  plugins/docker/README.md
Labels: Area: plugin, Type: documentation

#12988 Add alias for docker stats
  plugins/docker/README.md
  plugins/docker/docker.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#13038 fix(alias-finder): Typo for equals
  plugins/alias-finder/alias-finder.plugin.zsh
Labels: Area: plugin

#13040 Fix function call typo in the dnf5 plugin
  plugins/dnf/_dnf5
Labels: Area: plugin, Topic: completion

#13026 fix: asdf completion && clean up old completion code
  plugins/asdf/README.md
Labels: Area: plugin, Type: documentation

#13042 fix(cli): support `noexec` environments
  lib/cli.zsh
  tools/upgrade.sh
Labels: Area: core, Area: updater
