Repository ohmyzsh/ohmyzsh, pull requests merged in 2025-04, with the labels that each got.

#13046 Update macos.plugin.zsh - Made it possible to alias `man` to `man-preview`
  plugins/macos/macos.plugin.zsh
Labels: Area: plugin

#13072 fix(git-prompt): Use `--git-common-dir` to load stash count
  plugins/git-prompt/gitstatus.py
Labels: Area: plugin

#13061 docs(typo): Update README.md, fix typos
  README.md
Labels: Type: documentation

#12897 Allow user to define CURRENT_FG for agnoster.zsh-theme
  themes/agnoster.zsh-theme
Labels: Area: theme

#12979 fix(archlinux): Actually check repo version of keyring
  plugins/archlinux/archlinux.plugin.zsh
Labels: Area: plugin

#13027 feat(git): Add `gcfu` alias for git commit --fixup
  plugins/git/README.md
  plugins/git/git.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#13055 doc(asdf): update usage example
  plugins/asdf/README.md
Labels: Area: plugin, Type: documentation

#13053 Fixes #13052: support legacy and new procs completion command
  plugins/procs/procs.plugin.zsh
Labels: Area: plugin

#13089 chore: use correct path in comment
  oh-my-zsh.sh
Labels: Area: init
