Repository ohmyzsh/ohmyzsh, pull requests merged in 2025-06, with the labels that each got.

#13160 feat(theme): Make agnoster support conda environment
  themes/agnoster.zsh-theme
Labels: Area: theme

#13158 fix(open_command,wsl): Escape cmd.exe special chars for URLs in open_command when using WSL
  lib/functions.zsh
Labels: Area: core

#13175 feat(ubuntu): add apt-fast support for faster package management
  plugins/ubuntu/README.md
  plugins/ubuntu/ubuntu.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#13185 fix(rbw): do not wipe `rbwpw` items if newer are copied
  plugins/rbw/rbw.plugin.zsh
Labels: Area: plugin

#13190 fix(af-magic): fix virtual env prompt fallback to take into account parentheses
  themes/af-magic.zsh-theme
Labels: Area: theme
