Repository ohmyzsh/ohmyzsh, pull requests merged in 2025-09, with the labels that each got.

#7729 Add plugin for kompose
  plugins/kompose/README.md
  plugins/kompose/kompose.plugin.zsh
Labels: Area: plugin, Type: documentation, New: plugin

#13191 Spackenv plugin
  plugins/spackenv/README.md
  plugins/spackenv/spackenv.plugin.zsh
Labels: Area: plugin, Type: documentation, New: plugin

#13286 feat(git): auto-complete docs rebase update-refs
  plugins/repo/_repo
Labels: Area: plugin, Topic: completion

#13285 Added 3 aliases for 3 core brew built-in commands
  plugins/brew/README.md
  plugins/brew/brew.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#13313 feat(task): support task completion plugin
  plugins/task/README.md
  plugins/task/task.plugin.zsh
Labels: Area: plugin, Type: documentation, New: plugin

#13334 chore: remove obsolete gitpod integration
  .gitpod.Dockerfile
  .gitpod.yml
  README.md
Labels: Type: documentation

#13332 docs(common-aliases): fix tar.gz command in README
  plugins/common-aliases/README.md
Labels: Area: plugin, Type: documentation

#13338 fix(git): replace `whatchanged` with `log`
  plugins/git/README.md
  plugins/git/git.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation
