Repository ohmyzsh/ohmyzsh, pull requests merged in 2025-01, with the labels that each got.

#12901 fix(rust): call `rustc` through `rustup run`
  plugins/rust/rust.plugin.zsh
Labels: Area: plugin

#12903 Fix: add linuxbrew path for grc
  plugins/grc/grc.plugin.zsh
Labels: Area: plugin

#12912 fix(sonicradish): reset color typo
  themes/sonicradish.zsh-theme
Labels: Area: theme

#12932 feat(python): allow multiple venvs via `$PYTHON_VENV_NAMES` setting
  plugins/python/README.md
  plugins/python/python.plugin.zsh
Labels: Area: plugin, Type: documentation

#12814 feat(perl): add `perlbrew` auto activation
  plugins/perl/README.md
  plugins/perl/perl.plugin.zsh
Labels: Area: plugin, Type: documentation

#12840 Warn user if direnv not found
  plugins/direnv/direnv.plugin.zsh
Labels: Area: plugin

#12934 fix(changelog): show if there are no changes
  tools/changelog.sh
Labels: Area: core

#12935 fix(cli)!: remove harmful `--unattended` flag for `omz update`
  README.md
  lib/cli.zsh
Labels: Area: core, Type: documentation

#12850 feat(jira): allow branch name customization
  plugins/jira/README.md
  plugins/jira/jira.plugin.zsh
Labels: Area: plugin, Type: documentation

#12937 Fixing function name in README.md
  plugins/git-auto-fetch/README.md
Labels: Area: plugin, Type: documentation

#12945 docs(ember-cli): fix typo
  plugins/ember-cli/README.md
Labels: Area: plugin, Type: documentation

#12949 feat(terraform): support `TF_DATA_DIR` in `tf_prompt_info`
  plugins/terraform/terraform.plugin.zsh
Labels: Area: plugin
