Repository ohmyzsh/ohmyzsh, pull requests merged in 2025-07, with the labels that each got.

#13210 feat(web-search): add RubyGems.org
  plugins/web-search/README.md
  plugins/web-search/web-search.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#13217 Fixed issue where the exit code becomes non-zero if DISABLE_AUTO_TITLE=1
  lib/termsupport.zsh
Labels: Area: core

#13220 feat: dont start tmux if in zed terminal
  plugins/tmux/tmux.plugin.zsh
Labels: Area: plugin

#13043 feat(alias-finder): Use ripgrep if possible
  plugins/alias-finder/README.md
  plugins/alias-finder/alias-finder.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation
