Repository ohmyzsh/ohmyzsh, pull requests merged in 2025-05, with the labels that each got.

#13103 docs(pip): improve plugin README with clearer alias descriptions
  plugins/pip/README.md
Labels: Area: plugin, Type: documentation

#13116 vi-mode: Document additional text objects
  plugins/vi-mode/README.md
Labels: Area: plugin, Type: documentation

#13080 feat(kamal): add autocomplete support and aliases for Kamal (https://kamal-deploy.org/)
  plugins/kamal/README.md
  plugins/kamal/_kamal
  plugins/kamal/kamal.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation, Topic: completion, New: plugin

#13121 feat(termsupport): add WezTerm window/tab title support (OSC 1, 2)
  lib/termsupport.zsh
Labels: Area: core

#13099 fix(history): handle HIST_STAMPS with whitespace in timestamp format
  lib/history.zsh
Labels: Area: core

#13123 [Bug Fix] Make blinks theme respect user background color in dark mode
  themes/blinks.zsh-theme
Labels: Area: theme

#13129 feat(terraform): add `tfir` and `tfiur` aliases
  plugins/terraform/README.md
  plugins/terraform/terraform.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#13134 Move _omz_git_prompt_status to be able to register as async handler
  lib/git.zsh
Labels: Area: core

#13133 feat(mvn): add verify without clean lifecycle
  plugins/mvn/README.md
  plugins/mvn/mvn.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#13137 docs(rsync): improved the documentation of the rsync plugin
  plugins/rsync/README.md
Labels: Area: plugin, Type: documentation

#13128 feat(cli) Add flag to `omz plugin list` to show only enabled plugins
  lib/cli.zsh
Labels: Area: core

#13071 Update laravel.plugin.zsh Adds db:wipe alias
  plugins/laravel/README.md
  plugins/laravel/laravel.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation

#13146 feat: dotnet restore alias
  plugins/dotnet/README.md
  plugins/dotnet/dotnet.plugin.zsh
Labels: Area: plugin, Topic: alias, Type: documentation
